Repository uchicago-cs/chiventure, pull requests merged in 2019-06, with the labels that each got.

#213 Created Hashtable, validation, and integration with other teams
  Makefile
  src/action_management/Makefile
  src/action_management/include/actionmanagement.h
  src/cli/Makefile
  src/cli/example/Makefile
  src/cli/example/testshell.c
  src/cli/include/cmd.h
  src/cli/include/operations.h
  src/cli/include/parser.h
  src/cli/include/shell.h
  src/cli/include/validate.h
  src/cli/src/cmd.c
  src/cli/src/operations.c
  src/cli/src/parser.c
  src/cli/src/shell.c
  src/cli/src/validate.c
  src/ui/src/print_functions.c
Labels: component/cli

#254 Adding get description from item functions to game-state/dev
  src/game-state/include/item.h
  src/game-state/src/item.c
  src/game-state/tests/test_items.c
Labels: component/game-state

#255 Merging load_into_structs into wdl/dev
  src/wdl/Makefile
  src/wdl/examples/sample_yaml/simplified_wdl.yaml
  src/wdl/include/load_game.h
  src/wdl/include/load_item.h
  src/wdl/include/load_room.h
  src/wdl/include/parse.h
  src/wdl/include/validate.h
  src/wdl/src/load_game.c
  src/wdl/src/load_item.c
  src/wdl/src/load_room.c
  src/wdl/src/parse.c
  src/wdl/src/validate.c
  src/wdl/tests/Makefile
  src/wdl/tests/main.c
  src/wdl/tests/test_item.c
  src/wdl/tests/test_room.c
Labels: component/wdl

#244 Refactored AM modules for Basic Sprint 3 Prototype Requirements and Added Tests for Get_Supported_Actions Module
  src/action_management/Makefile
  src/action_management/include/actionmanagement.h
  src/action_management/src/actionmanagement.c
  src/action_management/src/get_actions.c
  src/action_management/tests/Makefile
  src/action_management/tests/main.c
  src/action_management/tests/test_get_actions.c
Labels: component/action-management

#203 Adding action_type_new, action_type_init, and action_type_free tests
  src/action_management/include/actionmanagement.h
  src/action_management/src/actionmanagement.c
  src/action_management/tests/Makefile
  src/action_management/tests/test_action_new_init_free.c
Labels: component/action-management

#249 Added tests for do_item_action
  src/action_management/tests/Makefile
  src/action_management/tests/test_item_actions.c
Labels: component/action-management

#243 Added tests for do_path_action
  src/action_management/tests/Makefile
  src/action_management/tests/test_path_actions.c
Labels: component/action-management

#258 Cli integration with UI and new context struct
  Makefile
  src/cli/Makefile
  src/cli/example/Makefile
  src/cli/examples/Makefile
  src/cli/examples/testshell.c
  src/cli/include/cmd.h
  src/cli/include/operations.h
  src/cli/include/shell.h
  src/cli/src/cmd.c
  src/cli/src/operations.c
  src/cli/src/parser.c
  src/cli/src/shell.c
  src/common/Makefile
  src/common/include/ctx.h
  src/common/src/ctx.c
  src/ui/Makefile
  src/ui/include/ui_ctx.h
  src/ui/src/print_functions.c
  src/ui/src/ui.c
  src/ui/src/ui_ctx.c
Labels: component/cli, component/ui

#272 Organizing functions related to toggle_map and layout_switch
  src/cli/Makefile
  src/cli/include/operations.h
  src/cli/src/cmd.c
  src/cli/src/operations.c
  src/ui/include/ui_ctx.h
  src/ui/src/ui.c
  src/ui/src/ui_ctx.c
Labels: bug, component/cli, component/ui

#257 Merging functions to get descriptions from items in game-state/dev to master
  src/game-state/include/item.h
  src/game-state/src/item.c
  src/game-state/tests/test_items.c
Labels: component/game-state

#204 Added tests for do_item_item_action
  src/action_management/src/actionmanagement.c
  src/action_management/tests/Makefile
  src/action_management/tests/test_item_item_actions.c
Labels: component/action-management

#266 Wdl/wdl spec draft
  docs/wdl.md
Labels: component/wdl

#291 Refactored test files to use the new return value from #245
  src/action_management/src/actionmanagement.c
  src/action_management/tests/test_item_actions.c
  src/action_management/tests/test_item_item_actions.c
  src/action_management/tests/test_path_actions.c
Labels: component/action-management

#294 Changed the return format of AM functions
  src/action_management/include/actionmanagement.h
  src/action_management/src/actionmanagement.c
  src/action_management/tests/test_item_actions.c
  src/action_management/tests/test_item_item_actions.c
  src/action_management/tests/test_path_actions.c
  src/cli/src/operations.c
Labels: component/action-management, component/cli

#300 PR to merge wdl/load_into_structs into wdl/dev
  src/wdl/Makefile
  src/wdl/examples/sample_yaml/connected_rooms.yaml
  src/wdl/examples/sample_yaml/simplified_wdl.yaml
  src/wdl/include/load_game.h
  src/wdl/include/load_item.h
  src/wdl/include/load_room.h
  src/wdl/include/parse.h
  src/wdl/include/validate.h
  src/wdl/src/load_game.c
  src/wdl/src/load_item.c
  src/wdl/src/load_room.c
  src/wdl/src/parse.c
  src/wdl/src/validate.c
  src/wdl/tests/Makefile
  src/wdl/tests/test_game.c
  src/wdl/tests/test_item.c
  src/wdl/tests/test_room.c
Labels: component/wdl

#292 Checkpointing/savetesting into dev
  src/checkpointing/Makefile
  src/checkpointing/include/load.h
  src/checkpointing/include/save.h
  src/checkpointing/src/load.c
  src/checkpointing/src/save.c
  src/checkpointing/tests/Makefile
  src/checkpointing/tests/test_save.c
Labels: component/checkpointing

#195 Checkpointing/loadtesting to Dev
  src/checkpointing/Makefile
  src/checkpointing/include/load.h
  src/checkpointing/src/load.c
  src/checkpointing/tests/Makefile
  src/checkpointing/tests/test_load.c
  src/checkpointing/tests/test_save.c
Labels: component/checkpointing

#289 Added tests for actionmanagement.c functions
  src/action_management/include/actionmanagement.h
  src/action_management/src/actionmanagement.c
  src/action_management/tests/Makefile
  src/action_management/tests/test_action_new_init_free.c
  src/action_management/tests/test_item_actions.c
  src/action_management/tests/test_item_item_actions.c
  src/action_management/tests/test_path_actions.c
  src/cli/src/operations.c
Labels: component/action-management, component/cli

#301 Created homescreen
  Makefile
  src/chiventure.c
  src/common/include/ctx.h
  src/common/src/ctx.c
  src/ui/Makefile
  src/ui/examples/test_ui.c
  src/ui/include/print_functions.h
  src/ui/include/ui.h
  src/ui/src/print_functions.c
  src/ui/src/ui.c
  src/ui/src/ui_ctx.c
Labels: component/ui

#321 Changed game_t parameter to chiventure_ctx_t as per #250 in AM functions
  src/action_management/Makefile
  src/action_management/include/actionmanagement.h
  src/action_management/src/actionmanagement.c
  src/action_management/tests/Makefile
  src/action_management/tests/test_item_actions.c
  src/action_management/tests/test_item_item_actions.c
  src/action_management/tests/test_path_actions.c
  src/cli/src/operations.c
  src/common/include/ctx.h
Labels: component/action-management

#318 Tests for Parser Module
  src/cli/src/parser.c
  src/cli/tests/Makefile
  src/cli/tests/main.c
  src/cli/tests/test_parser.c
  src/ui/src/print_functions.c
Labels: component/cli

#322 Added unit tests for cmd and lookup_t structs
  src/cli/include/cmd.h
  src/cli/src/cmd.c
  src/cli/tests/Makefile
  src/cli/tests/test_cmd.c
Labels: component/cli

#304 Nice formatting of CLI output
  src/ui/src/print_functions.c
  src/ui/src/ui.c
Labels: component/ui

#281 Unit tests for coordinates
  src/ui/include/coordinate.h
  src/ui/tests/Makefile
  src/ui/tests/main.c
  src/ui/tests/test_coordinate.c
Labels: component/ui

#313 Catching errors occuring when game doesn't exist
  src/cli/examples/testshell.c
  src/cli/src/cmd.c
  src/cli/src/operations.c
Labels: bug, component/cli

#326 Tests for lookup_t struct, cmd struct, and parser, general cleanup and updating
  src/cli/Makefile
  src/cli/include/cmd.h
  src/cli/include/operations.h
  src/cli/include/validate.h
  src/cli/src/cmd.c
  src/cli/src/operations.c
  src/cli/src/parser.c
  src/cli/src/validate.c
  src/cli/tests/Makefile
  src/cli/tests/main.c
  src/cli/tests/test_cmd.c
  src/cli/tests/test_parser.c
  src/ui/src/print_functions.c
Labels: component/cli

#339 merge wdl/load_wdl into wdl/dev to prepare for PR to master
  src/wdl/Makefile
  src/wdl/examples/sample_yaml/errors_demo.yaml
  src/wdl/examples/sample_yaml/sample.yaml
  src/wdl/examples/sample_yaml/simplified_wdl.yaml
  src/wdl/include/load_game.h
  src/wdl/include/load_item.h
  src/wdl/include/load_room.h
  src/wdl/include/load_wdl.h
  src/wdl/include/parse.h
  src/wdl/include/validate.h
  src/wdl/include/wdl_common.h
  src/wdl/src/load_game.c
  src/wdl/src/load_item.c
  src/wdl/src/load_room.c
  src/wdl/src/load_wdl.c
  src/wdl/src/parse.c
  src/wdl/src/validate.c
  src/wdl/tests/Makefile
  src/wdl/tests/test_validation.c
  src/wdl/tests/test_wdl.c
Labels: component/wdl

#328 Checkpointing/log
  src/checkpointing/Makefile
  src/checkpointing/game.proto
  src/checkpointing/include/log_save.h
  src/checkpointing/src/log_save.c
Labels: component/checkpointing

#342 PR from wdl/correct-attribute to wdl/dev to load attributes fields and values into game-state structures
  src/wdl/include/parse.h
  src/wdl/src/load_item.c
  src/wdl/src/parse.c
Labels: component/wdl

#263 Ui/map from coords into Master
  src/chiventure.c
  src/cli/src/cmd.c
  src/common/include/ctx.h
  src/common/src/ctx.c
  src/ui/Makefile
  src/ui/examples/map_example.c
  src/ui/include/coordinate.h
  src/ui/include/map.h
  src/ui/include/print_functions.h
  src/ui/include/ui_ctx.h
  src/ui/src/DFS.c
  src/ui/src/coordinate.c
  src/ui/src/map.c
  src/ui/src/print_functions.c
  src/ui/src/ui.c
  src/ui/src/ui_ctx.c
Labels: component/ui

#325 Implemented ctx struct in actions, do_path uses game-state structs now
  docs/actions.md
  src/action_management/Makefile
  src/action_management/include/action_structs.h
  src/action_management/include/actionmanagement.h
  src/action_management/src/actionmanagement.c
  src/action_management/src/get_actions.c
  src/action_management/tests/Makefile
  src/action_management/tests/test_get_actions.c
  src/action_management/tests/test_item_actions.c
  src/action_management/tests/test_item_item_actions.c
  src/action_management/tests/test_path_actions.c
  src/cli/src/operations.c
  src/game-state/Makefile
  src/game-state/tests/Makefile
Labels: component/action-management

#346 Added condition checking and effect handling for do_item_item_action
  src/action_management/include/action_structs.h
  src/action_management/src/actionmanagement.c
  src/action_management/src/get_actions.c
  src/action_management/tests/test_get_actions.c
  src/action_management/tests/test_item_actions.c
  src/action_management/tests/test_item_item_actions.c
Labels: component/action-management

#345 Added effects and conditions to function do_item_action and its tests
  src/action_management/src/actionmanagement.c
  src/action_management/tests/test_item_actions.c
Labels: component/action-management

#305 Adding basic end conditions to game
  docs/GAME-STATE.md
  src/game-state/include/game.h
  src/game-state/include/game_state_common.h
  src/game-state/src/game.c
Labels: component/game-state

#351 Update Helptext
  src/cli/src/shell.c
Labels: component/cli

#355 Updated WDL and action-management Makefiles to fix build fail
  src/action_management/Makefile
  src/wdl/Makefile
Labels: bug

#348 A FEW quick UI Fixes
  src/ui/examples/map_example.c
  src/ui/src/DFS.c
  src/ui/src/ui_ctx.c
Labels: component/ui

#340 PR from wdl/create_yaml to wdl/dev for sample.yaml example file
  src/wdl/examples/sample_yaml/sample.yaml
  src/wdl/include/load_room.h
  src/wdl/src/load_room.c
Labels: component/wdl

#353 Created sample game struct using gamestate and actionmanagement functions
  src/common/Makefile
  src/common/include/sample_game.h
  src/common/src/sample_game.c
Labels: component/action-management, component/cli

#352 Map Upgrades: Draws Player, Shows Current Location, Map Has Border.
  src/ui/examples/map_example.c
  src/ui/include/coordinate.h
  src/ui/include/ui_ctx.h
  src/ui/src/coordinate.c
  src/ui/src/map.c
Labels: component/ui, enhancement

#336 Checkpointing/documentation
  docs/checkpointing.md
  src/checkpointing/README.md
Labels: component/checkpointing

#311 Examples and updated saving/loading
  Makefile
  src/action_management/Makefile
  src/checkpointing/Makefile
  src/checkpointing/demo/.gitignore
  src/checkpointing/demo/Makefile
  src/checkpointing/demo/README.md
  src/checkpointing/demo/demo.c
  src/checkpointing/game.proto
  src/checkpointing/include/dummy.h
  src/checkpointing/include/load.h
  src/checkpointing/include/log_save.h
  src/checkpointing/include/save.h
  src/checkpointing/src/load.c
  src/checkpointing/src/log_save.c
  src/checkpointing/src/save.c
  src/checkpointing/tests/.gitignore
  src/checkpointing/tests/Makefile
  src/checkpointing/tests/main.c
  src/checkpointing/tests/test_load.c
  src/checkpointing/tests/test_save.c
  src/cli/Makefile
  src/cli/examples/Makefile
  src/cli/include/operations.h
  src/cli/src/cmd.c
  src/cli/src/operations.c
  src/common/Makefile
  src/game-state/tests/Makefile
  src/ui/Makefile
  src/wdl/Makefile
Labels: component/checkpointing

#361 Changed lncurses to lncursesw in top Makefile
  Makefile
Labels: component/ui

#349 Added home screen animation
  src/ui/src/print_functions.c
Labels: component/ui

#335 Supporting action effects and conditions in item module
  src/action_management/src/actionmanagement.c
  src/checkpointing/src/load.c
  src/checkpointing/src/save.c
  src/game-state/include/game.h
  src/game-state/include/game_action.h
  src/game-state/include/game_state_common.h
  src/game-state/include/item.h
  src/game-state/include/path.h
  src/game-state/include/player.h
  src/game-state/include/room.h
  src/game-state/src/common-game-action.h
  src/game-state/src/common-item.h
  src/game-state/src/common-path.h
  src/game-state/src/common-room.h
  src/game-state/src/game.c
  src/game-state/src/game_action.c
  src/game-state/src/item.c
  src/game-state/src/path.c
  src/game-state/src/player.c
  src/game-state/src/room.c
  src/game-state/tests/test_items.c
  src/game-state/tests/test_path.c
  src/game-state/tests/test_player.c
  src/wdl/Makefile
Labels: component/game-state

#363 FIX: Printing to CLI
  src/cli/src/operations.c
  src/ui/src/print_functions.c
Labels: component/cli, component/ui

#344 This branch implements UI coloring dynamically
  src/cli/include/cmd.h
  src/cli/include/operations.h
  src/cli/src/cmd.c
  src/cli/src/operations.c
  src/cli/src/shell.c
  src/cli/tests/test_cmd.c
  src/cli/tests/test_parser.c
  src/ui/src/ui.c
Labels: component/cli, component/ui, enhancement

#369 Emergency fix for name command
  src/ui/src/print_functions.c
Labels: bug

#372 Load a sample game
  .gitignore
  Makefile
  src/chiventure.c
  src/cli/include/cmd.h
  src/cli/include/operations.h
  src/cli/include/shell.h
  src/cli/src/cmd.c
  src/cli/src/operations.c
  src/cli/src/shell.c
  src/cli/tests/Makefile
  src/common/src/sample_game.c
  src/game-state/src/game_action.c
Labels: component/cli

#375 HOTFIX: Fix helptext formatting
  src/ui/src/print_functions.c
Labels: bug, component/cli, component/ui

#378 Fixed issue when q was pressed to quit displaying output
  src/ui/src/print_functions.c
Labels: bug, component/ui

#364 Adding conditions and effects to do_action functions with tests and ctx context refactoring
  src/action_management/include/action_structs.h
  src/action_management/include/actionmanagement.h
  src/action_management/src/actionmanagement.c
  src/action_management/src/get_actions.c
  src/action_management/tests/Makefile
  src/action_management/tests/test_get_actions.c
  src/action_management/tests/test_item_actions.c
  src/action_management/tests/test_item_item_actions.c
  src/action_management/tests/test_path_actions.c
  src/common/src/sample_game.c
Labels: component/action-management

#379 HOTFIX: Comparison bug in actionmanagement.c
  src/action_management/src/actionmanagement.c
Labels: bug, component/action-management
