Repository uchicago-cs/chiventure, pull requests merged in 2019-05, with the labels that each got.

#36 Action management
  AUTHORS.md
  src/action_management/include/actionmanagement.h
  src/action_management/include/structs.h
Labels: component/action-management

#48 Merging wdl proof of concept code to wdl/dev branch.
  src/libobj/src/parser.c
  src/wdl_proof_of_concept/Makefile
  src/wdl_proof_of_concept/README.md
  src/wdl_proof_of_concept/include/parse.h
  src/wdl_proof_of_concept/sample_yaml/sample_yaml_1.yaml
  src/wdl_proof_of_concept/sample_yaml/sample_yaml_2.yaml
  src/wdl_proof_of_concept/src/main.c
  src/wdl_proof_of_concept/src/parse.c
Labels: component/wdl

#70 Checkpointing/protofile
  AUTHORS.md
  docs/README.md
  docs/developer.md
  src/game.proto
Labels: component/checkpointing

#72 Merging Type 3,4,5 i.e. action_npc, action_item_npc, action_item_item
  src/action_management/include/actionmanagement.h
  src/action_management/src/actionmanagement.c
Labels: component/action-management

#78 merge wdl/improved validation into wdl/dev
  games/distaff.wdl
  src/libobj/include/obj.h
  src/libobj/include/parser.h
  src/libobj/include/stack.h
  src/libwdl/Makefile
  src/libwdl/README.md
  src/libwdl/include/parse.h
  src/libwdl/include/validate.h
  src/libwdl/sample_yaml/sample_yaml_1.yaml
  src/libwdl/sample_yaml/sample_yaml_2.yaml
  src/libwdl/src/main.c
  src/libwdl/src/parse.c
  src/libwdl/src/validate.c
  src/wdl_proof_of_concept/include/parse.h
  src/wdl_proof_of_concept/src/main.c
  src/wdl_proof_of_concept/src/parse.c
Labels: component/wdl

#100 Merging ui into master
  src/ui/Makefile
  src/ui/README.md
  src/ui/examples/test_ui.c
  src/ui/include/print_functions.h
  src/ui/include/ui.h
  src/ui/include/window.h
  src/ui/src/print_functions.c
  src/ui/src/ui.c
  src/ui/src/window.c
Labels: component/ui

#125 Fix broken UI build
  Makefile
  src/ui/Makefile
Labels: component/ui

#102 Merging Game state/dev into master: the pull request of the century
  .gitignore
  docs/GAME-STATE.md
  src/game-state/Makefile
  src/game-state/include/game.h
  src/game-state/include/game_state_common.h
  src/game-state/include/item.h
  src/game-state/include/path.h
  src/game-state/include/player.h
  src/game-state/include/room.h
  src/game-state/src/README.md
  src/game-state/src/common-item.h
  src/game-state/src/game.c
  src/game-state/src/item.c
  src/game-state/src/path.c
  src/game-state/src/player.c
  src/game-state/src/room.c
  src/game-state/tests/Makefile
  src/game-state/tests/main.c
  src/game-state/tests/test_game.c
  src/game-state/tests/test_player.c
  src/game-state/tests/test_rooms.c
Labels: component/game-state

#130 Hotfix: game-state build on master is broken
  Makefile
  docs/GAME-STATE.md
  src/game-state/Makefile
  src/game-state/include/path.h
  src/game-state/src/game.c
  src/game-state/src/path.c
  src/game-state/src/room.c
Labels: component/game-state

#121 Reconfigured Working Directory and Modified Makefile
  src/libwdl/Makefile
  src/libwdl/README.md
  src/libwdl/sample_yaml/sample_yaml_2.yaml
  src/wdl/Makefile
  src/wdl/README.md
  src/wdl/examples/sample_yaml/connected_rooms.yaml
  src/wdl/examples/typecheck_demo.c
  src/wdl/include/parse.h
  src/wdl/include/validate.h
  src/wdl/src/parse.c
  src/wdl/src/validate.c
Labels: component/wdl

#145 Pull request for wdl_spec_draft to dev
  .gitignore
  AUTHORS.md
  Makefile
  docs/GAME-STATE.md
  docs/developer.md
  docs/wdl.md
  src/cli/Makefile
  src/cli/README.md
  src/cli/example/Makefile
  src/cli/example/testshell.c
  src/cli/include/cmd.h
  src/cli/include/operations.h
  src/cli/include/parser.h
  src/cli/include/shell.h
  src/cli/include/validate.h
  src/cli/src/cmd.c
  src/cli/src/operations.c
  src/cli/src/parser.c
  src/cli/src/shell.c
  src/cli/src/validate.c
  src/game-state/Makefile
  src/game-state/include/game.h
  src/game-state/include/game_state_common.h
  src/game-state/include/item.h
  src/game-state/include/path.h
  src/game-state/include/player.h
  src/game-state/include/room.h
  src/game-state/src/README.md
  src/game-state/src/common-item.h
  src/game-state/src/game.c
  src/game-state/src/item.c
  src/game-state/src/path.c
  src/game-state/src/player.c
  src/game-state/src/room.c
  src/game-state/tests/Makefile
  src/game-state/tests/main.c
  src/game-state/tests/test_game.c
  src/game-state/tests/test_player.c
  src/game-state/tests/test_rooms.c
  src/ui/Makefile
  src/ui/README.md
  src/ui/examples/test_ui.c
  src/ui/include/print_functions.h
  src/ui/include/ui.h
  src/ui/include/window.h
  src/ui/src/print_functions.c
  src/ui/src/ui.c
  src/ui/src/window.c
Labels: component/wdl

#89 Merging Checkpointing/Dev to Master
  .travis.yml
  Makefile
  src/checkpointing/Makefile
  src/checkpointing/README.md
  src/checkpointing/game.proto
  src/checkpointing/include/dummy.h
  src/checkpointing/include/load.h
  src/checkpointing/include/save.h
  src/checkpointing/samples/protobuf/.gitignore
  src/checkpointing/samples/protobuf/Makefile
  src/checkpointing/samples/protobuf/README.md
  src/checkpointing/samples/protobuf/load.c
  src/checkpointing/samples/protobuf/sample.proto
  src/checkpointing/samples/protobuf/save.c
  src/checkpointing/src/load.c
  src/checkpointing/src/save.c
Labels: component/checkpointing

#154 Cli/hashtable
  src/cli/Makefile
  src/cli/example/testshell.c
  src/cli/include/cmd.h
  src/cli/include/operations.h
  src/cli/include/placeholder.h
  src/cli/include/validate.h
  src/cli/src/cmd.c
  src/cli/src/operations.c
  src/cli/src/shell.c
  src/cli/src/validate.c
Labels: component/cli

#77 Action management modules and specification
  Makefile
  docs/README.md
  docs/actions.md
  src/action_management/Makefile
  src/action_management/include/action_structs.h
  src/action_management/include/actionmanagement.h
  src/action_management/include/game.h
  src/action_management/src/actionmanagement.c
  src/action_management/src/game.c
  src/action_management/src/get_actions.c
  src/common/include/common.h
Labels: component/action-management

#149 updated save functions
  src/checkpointing/include/save.h
  src/checkpointing/src/save.c
Labels: component/checkpointing

#128 Ui/cli integration
  src/ui/examples/map_example.c
  src/ui/src/DFS.c
  src/ui/src/coordinate.c
  src/ui/src/map.c
  src/ui/src/print_functions.c
  src/ui/src/ui.c
  src/ui/src/window.c
Labels: component/ui

#110 Merging ui/assign-coordinates to master
  src/ui/Makefile
  src/ui/examples/coord_example.c
  src/ui/include/coordinate.h
  src/ui/src/DFS.c
  src/ui/src/coordinate.c
Labels: component/ui

#165 Altered makefile so we now depend on game_state h files, refactored funcs according to issue #115
  src/action_management/Makefile
  src/action_management/include/actionmanagement.h
  src/action_management/include/game.h
  src/action_management/src/actionmanagement.c
  src/action_management/src/game.c
  src/checkpointing/samples/protobuf/load.c
  src/checkpointing/samples/protobuf/save.c
Labels: component/action-management

#127 Ui/map view
  src/ui/Makefile
  src/ui/README.md
  src/ui/examples/integration_example.c
  src/ui/examples/map_example.c
  src/ui/include/map.h
  src/ui/src/map.c
  src/ui/src/ui.c
Labels: component/ui

#164 Merging the completed save functions to checkpointing/dev for ultimate deploy to master
  src/checkpointing/include/save.h
  src/checkpointing/src/save.c
Labels: component/checkpointing

#146 Merging wdl/improved_validation into master
  Makefile
  docs/wdl.md
  games/distaff.wdl
  src/libobj/include/obj.h
  src/libobj/include/parser.h
  src/libobj/include/stack.h
  src/libobj/src/parser.c
  src/wdl/Makefile
  src/wdl/README.md
  src/wdl/examples/sample_yaml/connected_rooms.yaml
  src/wdl/examples/typecheck_demo.c
  src/wdl/include/load_game.h
  src/wdl/include/load_item.h
  src/wdl/include/parse.h
  src/wdl/include/validate.h
  src/wdl/src/load_game.c
  src/wdl/src/load_item.c
  src/wdl/src/parse.c
  src/wdl/src/validate.c
Labels: component/wdl

#176 Game state/action list
  src/game-state/include/item.h
  src/game-state/src/item.c
  src/game-state/tests/test_items.c
Labels: component/game-state

#175 Replaced all item related placeholders with game-state macro
  src/cli/src/operations.c
Labels: component/cli

#178 Refactored Action Management Functions for a Sprint 3 Basic Prototype
  src/action_management/include/actionmanagement.h
  src/action_management/src/actionmanagement.c
  src/action_management/src/get_actions.c
Labels: component/action-management

#174 Merge Ui/refactor structs to Ui/dev
  src/ui/Makefile
  src/ui/examples/coord_example.c
  src/ui/include/coordinate.h
  src/ui/include/map.h
  src/ui/src/DFS.c
  src/ui/src/coordinate.c
  src/ui/src/map.c
Labels: component/ui

#168 Checkpointing/loading
  src/checkpointing/include/load.h
  src/checkpointing/src/load.c
Labels: component/checkpointing

#187 Ui/context structs
  Makefile
  src/common/Makefile
  src/common/include/ctx.h
  src/common/src/ctx.c
  src/ui/Makefile
  src/ui/examples/integration_example.c
  src/ui/examples/test_ui.c
  src/ui/include/coordinate.h
  src/ui/include/map.h
  src/ui/include/print_functions.h
  src/ui/include/ui.h
  src/ui/include/ui_ctx.h
  src/ui/include/window.h
  src/ui/src/coordinate.c
  src/ui/src/print_functions.c
  src/ui/src/ui.c
  src/ui/src/ui_ctx.c
  src/ui/src/window.c
Labels: component/ui

#184 Created tests folder in action management, and tests for get_supported_actions (issue #150)
  src/action_management/src/actionmanagement.c
  src/action_management/src/get_actions.c
  src/action_management/tests/Makefile
  src/action_management/tests/main.c
  src/action_management/tests/test_get_actions.c
Labels: component/action-management

#185 Checkpointing/savetesting
  src/checkpointing/tests/test_save.c
Labels: component/checkpointing

#210 Hotfix: Changed makefile to make static library
  src/action_management/Makefile
Labels: component/action-management

#209 Hotfix: valid_actions to be compatible with CLI
  src/action_management/src/get_actions.c
Labels: component/action-management

#212 PR to merge new actions in item struct into game-state/dev
  src/game-state/include/item.h
  src/game-state/src/item.c
  src/game-state/tests/Makefile
  src/game-state/tests/test_items.c
Labels: component/game-state

#201 Merging context structs and CLI functions
  Makefile
  src/common/Makefile
  src/common/include/ctx.h
  src/common/src/ctx.c
  src/ui/Makefile
  src/ui/examples/coord_example.c
  src/ui/examples/integration_example.c
  src/ui/examples/test_ui.c
  src/ui/include/coordinate.h
  src/ui/include/map.h
  src/ui/include/print_functions.h
  src/ui/include/ui.h
  src/ui/include/ui_ctx.h
  src/ui/include/window.h
  src/ui/src/DFS.c
  src/ui/src/coordinate.c
  src/ui/src/map.c
  src/ui/src/print_functions.c
  src/ui/src/ui.c
  src/ui/src/ui_ctx.c
  src/ui/src/window.c
Labels: component/ui

#228 Hotfix: Memset everything immediately after malloc & fix errors for desc strings in room
  src/game-state/src/game.c
  src/game-state/src/item.c
  src/game-state/src/path.c
  src/game-state/src/player.c
  src/game-state/src/room.c
Labels: component/game-state

#186 New item functionality for AM and WDL + Tests written for all existing and new code within game-state modules
  .travis.yml
  AUTHORS.md
  Makefile
  docs/GAME-STATE.md
  src/common/Makefile
  src/common/src/ctx.c
  src/game-state/.gitignore
  src/game-state/Makefile
  src/game-state/include/game.h
  src/game-state/include/game_state_common.h
  src/game-state/include/item.h
  src/game-state/include/path.h
  src/game-state/include/player.h
  src/game-state/include/room.h
  src/game-state/src/README.md
  src/game-state/src/common-item.h
  src/game-state/src/common-path.h
  src/game-state/src/common-room.h
  src/game-state/src/game.c
  src/game-state/src/item.c
  src/game-state/src/path.c
  src/game-state/src/player.c
  src/game-state/src/room.c
  src/game-state/tests/Makefile
  src/game-state/tests/test_game.c
  src/game-state/tests/test_items.c
  src/game-state/tests/test_path.c
  src/game-state/tests/test_player.c
  src/game-state/tests/test_rooms.c
  src/ui/Makefile
Labels: component/game-state
