Repository uchicago-cs/chiventure, pull requests merged in 2020-06, with the labels that each got.

#659 Custom actions/branch
  src/custom-actions/CMakeLists.txt
  src/custom-actions/src/ast_block.c
  src/custom-actions/src/branch_block.c
  tests/custom-actions/CMakeLists.txt
  tests/custom-actions/test_branch_block.c
Labels: x/custom-actions

#681 Implementation of autogenerate module; generates 1 or multiple rooms if the current room is a "dead end"
  include/openworld/autogenerate.h
  include/openworld/gen_structs.h
  src/openworld/CMakeLists.txt
  src/openworld/src/autogenerate.c
  src/openworld/src/gen_structs.c
  tests/openworld/CMakeLists.txt
  tests/openworld/test_autogenerate.c
  tests/openworld/test_structs.c
Labels: enhancement, x/rpg-openworld

#718 Added support for never-ending games
  include/game-state/game.h
  src/action_management/src/actionmanagement.c
  src/game-state/src/game.c
  tests/game-state/test_game.c
Labels: x/action-management

#707 Merge finalized new object structs for the replace for libobj for future use
  include/wdl/object.h
  src/wdl/CMakeLists.txt
  src/wdl/src/object.c
Labels: x/wdl

#717 RPG playerstats: global effects struct and effects functions
  include/game-state/game.h
  include/game-state/stats.h
  src/game-state/src/game.c
  src/game-state/src/stats.c
  tests/game-state/test_game.c
  tests/game-state/test_stats.c
Labels: x/rpg-playerstat

#722 Documentation, implementation, and testing for object store hash table
  include/wdl/objstore.h
  src/wdl/CMakeLists.txt
  src/wdl/src/objstore.c
  tests/wdl/CMakeLists.txt
  tests/wdl/test_objstore.c
Labels: x/wdl

#709 Move wdz test game, script, and documentation to examples folder
  src/wdl/examples/wdz/README_test_game.md
  src/wdl/examples/wdz/README_wdz.md
  src/wdl/examples/wdz/test_game.wdz
  src/wdl/examples/wdz/test_game/game/actions.json
  src/wdl/examples/wdz/test_game/game/globalconditions.json
  src/wdl/examples/wdz/test_game/game/items.json
  src/wdl/examples/wdz/test_game/game/player.json
  src/wdl/examples/wdz/test_game/game/rooms.json
  src/wdl/examples/wdz/wdz
Labels: x/wdl

#725 Creating an example class/skill list
  src/playerclass/CMakeLists.txt
  src/playerclass/examples/CMakeLists.txt
  src/playerclass/examples/class-list.c
  src/playerclass/examples/class-list.h
Labels: enhancement, x/rpg-playerclass

#732 Starting Skilltree Integration
  include/playerclass/class.h
  include/playerclass/class_structs.h
  src/playerclass/README.md
  src/playerclass/src/class.c
  tests/battle/test_battle_ai.c
  tests/battle/test_battle_flow.c
  tests/battle/test_battle_flow_structs.c
  tests/battle/test_battle_logic.c
  tests/battle/test_battle_state.c
  tests/playerclass/test_class.c
  tests/playerclass/test_class_item_restriction.c
Labels: x/rpg-playerclass

#712 Requesting dialogue module pull from issue #607
  include/npc/dialogue.h
  src/npc/CMakeLists.txt
  src/npc/examples/CMakeLists.txt
  src/npc/examples/dialogue_example.c
  src/npc/src/dialogue.c
  tests/npc/CMakeLists.txt
  tests/npc/test_dialogue.c
  tests/npc/test_npc.c
Labels: x/npc

#700 Integrate a player class struct into the existing implementation of the NPC struct
  include/npc/npc.h
  src/npc/src/npc.c
  tests/npc/test_npc.c
Labels: x/npc, x/rpg-npc, x/rpg-playerclass

#744 NPC struct updates with dialogue and descriptions
  include/npc/npc.h
  src/npc/src/npc.c
  tests/npc/test_npc.c
Labels: x/npc

#736 Implementation for action synonyms
  include/npc/npc.h
  src/action_management/src/actionmanagement.c
  src/cli/src/operations.c
  src/cli/src/shell.c
  src/npc/src/npc.c
  tests/npc/test_npc.c
Labels: x/action-management

#730 Refactored item hashtable code
  include/game-state/item.h
  include/game-state/player.h
  include/game-state/room.h
  include/npc/npc.h
  src/cli/src/operations.c
  src/game-state/src/game.c
  src/game-state/src/item.c
  src/game-state/src/player.c
  src/game-state/src/room.c
  src/npc/src/npc.c
  tests/game-state/test_items.c
  tests/game-state/test_player.c
  tests/game-state/test_rooms.c
  tests/npc/test_npc.c
Labels: x/action-management, x/game-state

#697 Skill Trees: Skill TREE Implementation
  include/playerclass/class_structs.h
  include/skilltrees/inventory.h
  include/skilltrees/skill.h
  include/skilltrees/skilltree.h
  include/skilltrees/skilltrees.h
  include/skilltrees/stdst.h
  src/playerclass/src/class.c
  src/skilltrees/CMakeLists.txt
  src/skilltrees/inventory.c
  src/skilltrees/skill.c
  src/skilltrees/skilltree.c
  src/skilltrees/skilltrees.c
  src/skilltrees/stdst.c
  tests/CMakeLists.txt
  tests/skilltrees/CMakeLists.txt
  tests/skilltrees/effect_t.c
  tests/skilltrees/effect_t.h
  tests/skilltrees/main.c
Labels: x/rpg-skilltrees

#641 RPG-NPC: NPC Movement Through Rooms - Basic Features
  include/npc/rooms-npc.h
  src/npc/CMakeLists.txt
  src/npc/src/rooms-npc.c
  tests/npc/CMakeLists.txt
  tests/npc/test_rooms_npc.c
Labels: x/rpg-npc

#710 Openworld/speclist
  include/openworld/autogenerate.h
  include/openworld/default_rooms.h
  include/openworld/gen_structs.h
  src/openworld/CMakeLists.txt
  src/openworld/src/autogenerate.c
  src/openworld/src/default_rooms.c
  src/openworld/src/gen_structs.c
  tests/openworld/CMakeLists.txt
  tests/openworld/test_autogenerate.c
  tests/openworld/test_rooms.c
  tests/openworld/test_structs.c
Labels: x/rpg-openworld

#743 Battle systems message strings for printing during a battle
  include/battle/battle_flow.h
  include/battle/battle_print.h
  src/battle/CMakeLists.txt
  src/battle/src/battle_print.c
  tests/battle/CMakeLists.txt
  tests/battle/test_battle_print.c
Labels: x/rpg-battle

#745 Battle/class moves
  include/battle/battle_moves.h
  src/battle/CMakeLists.txt
  src/battle/examples/battle_move_maker.c
  src/battle/examples/battle_move_maker.h
  src/battle/src/battle_moves.c
  src/playerclass/examples/class-list.c
  src/playerclass/examples/class-list.h
  tests/battle/CMakeLists.txt
  tests/battle/test_battle_move_maker.c
  tests/battle/test_battle_moves.c
Labels: enhancement, x/rpg-battle

#759 Fixed a small bug in autogenerate.c for backwards paths
  src/openworld/src/autogenerate.c
  tests/openworld/test_autogenerate.c
Labels: bug, x/rpg-openworld

#728 Skill Trees: Additional 'Skill Tree' Implementation
  include/playerclass/class_structs.h
  include/skilltrees/skilltree.h
  src/playerclass/src/class.c
  src/skilltrees/skilltree.c
Labels: x/rpg-skilltrees

#754 Patch action synonym implementation to use 'strcmp'
  src/action_management/src/actionmanagement.c
Labels: x/action-management

#747 Graphics/UI: Map 5-Room Example using Chiventure Structures
  .travis.yml
  CMakeLists.txt
  src/ui/CMakeLists.txt
  src/ui/examples/CMakeLists.txt
  src/ui/examples/map_raylib_example.c
Labels: x/graphics

#733 Battle Flow Loop and Test Executable
  include/battle/battle_ai.h
  include/battle/battle_common.h
  include/battle/battle_flow.h
  include/battle/battle_flow_structs.h
  include/battle/battle_logic.h
  include/battle/battle_moves.h
  include/battle/battle_state.h
  include/battle/battle_structs.h
  src/battle/CMakeLists.txt
  src/battle/examples/CMakeLists.txt
  src/battle/examples/battle_flow_example.c
  src/battle/src/battle_flow.c
  src/battle/src/battle_flow_structs.c
  src/battle/src/battle_state.c
  tests/battle/test_battle_ai.c
  tests/battle/test_battle_flow.c
  tests/battle/test_battle_flow_structs.c
  tests/battle/test_battle_logic.c
  tests/battle/test_battle_print.c
  tests/battle/test_battle_state.c
Labels: x/rpg-battle

#751 Custom actions/custom action t
  src/custom-actions/CMakeLists.txt
  src/custom-actions/include/custom_action.h
  src/custom-actions/src/custom_action.c
  tests/custom-actions/CMakeLists.txt
  tests/custom-actions/test_custom_action.c
Labels: x/custom-actions

#764 NPC example code
  src/npc/examples/CMakeLists.txt
  src/npc/examples/dialogue_example.c
  src/npc/examples/npc_example.c
Labels: x/npc

#737 ui/sandbox examples
  src/ui/sandbox/Makefile
  src/ui/sandbox/images/example3.png
  src/ui/sandbox/split_screen.c
Labels: x/graphics, x/ui

#773 Putting class (and so stats/effects) into Player and NPC
  include/game-state/player.h
  include/npc/npc.h
Labels: x/rpg-playerstat

#769 Playerclass/executable showing class info, class specific moves and class item restrictions
  src/playerclass/examples/CMakeLists.txt
  src/playerclass/examples/demo-functions.c
  src/playerclass/examples/demo-functions.h
  src/playerclass/examples/pc_demo.c
Labels: x/rpg-playerclass

#746 Skilltrees/skill tree tests: updated unit tests for skill tree functions.
  src/skilltrees/inventory.c
  tests/skilltrees/CMakeLists.txt
  tests/skilltrees/inventory_test.c
  tests/skilltrees/skill_test.c
  tests/skilltrees/skilltree_test.c
  tests/skilltrees/stdst_test.c
Labels: x/rpg-skilltrees

#752 Support for a linked list of arguments to be passed in Lua in object_t
  include/custom-scripts/custom_type.h
  src/custom-scripts/src/custom_type.c
  tests/custom-scripts/Lua_file/bool_test_args.lua
  tests/custom-scripts/Lua_file/char_test_args.lua
  tests/custom-scripts/Lua_file/int_test_args.lua
  tests/custom-scripts/Lua_file/string_test_args.lua
  tests/custom-scripts/test_types.c
Labels: x/custom-scripts

#781 Fixing warnings from most recent merge into dev
  tests/skilltrees/skilltree_test.c
Labels: bug, x/rpg-skilltrees

#758 RPG playertats: apply_effect and adding effect to items
  include/game-state/item.h
  include/game-state/stats.h
  src/game-state/src/item.c
  src/game-state/src/player.c
  src/game-state/src/stats.c
  tests/game-state/test_items.c
  tests/game-state/test_player.c
  tests/game-state/test_stats.c
Labels: x/rpg-playerstat

#765 Implemented support to allow items to have non-unique item ids
  docs/game_state.md
  games/duplicate_test.wdl
  include/game-state/item.h
  src/action_management/src/actionmanagement.c
  src/cli/src/operations.c
  src/game-state/src/item.c
  src/wdl/src/load_game.c
  tests/game-state/test_items.c
  tests/game-state/test_player.c
  tests/game-state/test_rooms.c
  tests/npc/test_npc.c
Labels: x/action-management, x/game-state

#772 Implement inventory conditional that checks if an item is in a player's inventory.
  include/game-state/condition.h
  include/game-state/game.h
  include/game-state/game_action.h
  include/game-state/game_state_common.h
  include/game-state/item.h
  include/game-state/player.h
  src/action_management/src/actionmanagement.c
  src/common/src/sample_game.c
  src/game-state/CMakeLists.txt
  src/game-state/src/condition.c
  src/game-state/src/game.c
  src/game-state/src/game_action.c
  src/game-state/src/item.c
  src/game-state/src/player.c
  tests/action_management/test_item_actions.c
  tests/action_management/test_item_item_actions.c
  tests/game-state/CMakeLists.txt
  tests/game-state/test_condition.c
  tests/game-state/test_game.c
  tests/game-state/test_rooms.c
Labels: x/action-management, x/game-state

#778 Low-level functions for modifying attributes hash/linked list in WDL++ object store
  include/wdl/attributes.h
  include/wdl/object.h
  include/wdl/objstore.h
  src/wdl/CMakeLists.txt
  src/wdl/src/attributes.c
  src/wdl/src/object.c
  src/wdl/src/objstore.c
  tests/wdl/CMakeLists.txt
  tests/wdl/test_attributes.c
  tests/wdl/test_objstore.c
Labels: x/wdl

#662 RPG-stats implementing/testing initialize, new, free functions for global and individual stats
  include/common/ctx.h
  include/game-state/game.h
  include/game-state/player.h
  include/game-state/stats.h
  src/game-state/src/player.c
  src/game-state/src/stats.c
  tests/game-state/test_stats.c
Labels: x/rpg-playerstat

#776 Implementation of Basic Functionalities to Play Through a Quest
  include/quests/quests_state.h
  include/quests/quests_structs.h
  src/quests/CMakeLists.txt
  src/quests/examples/CMakeLists.txt
  src/quests/examples/quest-example.c
  src/quests/src/quests_state.c
  tests/quests/test_quests_state.c
Labels: x/rpg-npc

#775 Enhancement of NPCs Moving Between Rooms Feature
  include/npc/rooms-npc.h
  src/npc/src/rooms-npc.c
  tests/npc/test_rooms_npc.c
Labels: x/rpg-npc

#762 Update dependencies.md
  docs/dependencies.md
Labels: x/custom-scripts

#780 Implemented custom actions action block execution
  src/custom-actions/CMakeLists.txt
  src/custom-actions/include/action_block.h
  src/custom-actions/src/action_block.c
  tests/custom-actions/test_action_block.c
Labels: x/custom-actions

#779 Implementing add_stat_to_game
  include/game-state/game.h
  src/game-state/src/game.c
  tests/game-state/test_game.c
Labels: x/rpg-playerstat

#787 Finalized implementation of high level object access functions and basic initialize objects
  include/libobj/obj.h
  include/wdl/attributes.h
  include/wdl/object.h
  include/wdl/objstore.h
  src/libobj/src/obj.c
  src/wdl/src/attributes.c
  src/wdl/src/object.c
  src/wdl/src/objstore.c
  tests/wdl/test_asset.c
  tests/wdl/test_object.c
Labels: x/wdl

#783 Merging executable for battle
  include/battle/battle_ai.h
  include/battle/battle_flow.h
  include/battle/battle_flow_structs.h
  include/battle/battle_print.h
  include/battle/battle_structs.h
  src/battle/examples/CMakeLists.txt
  src/battle/examples/README.md
  src/battle/examples/battle_command_example.c
  src/battle/examples/battle_flow_example.c
  src/battle/examples/battle_move_maker.c
  src/battle/examples/battle_move_maker.h
  src/battle/src/battle_ai.c
  src/battle/src/battle_flow.c
  src/battle/src/battle_print.c
  src/playerclass/examples/class-list.c
  tests/battle/test_battle_flow.c
  tests/battle/test_battle_flow_structs.c
  tests/battle/test_battle_move_maker.c
  tests/battle/test_battle_print.c
Labels: enhancement, x/rpg-battle

#794 RPG-NPC Quests - Bugfix
  src/quests/examples/quest-example.c
Labels: x/rpg-npc

#756 Adding sandbox directory to Dev
  CMakeLists.txt
  src/custom-scripts/README.md
  src/custom-scripts/sandbox/gold.c
  src/custom-scripts/sandbox/gold.h
  src/custom-scripts/sandbox/sample.lua
Labels: x/custom-scripts

#774 Implenting change_stat_max and tests
  include/game-state/stats.h
  src/game-state/src/stats.c
  tests/game-state/test_stats.c
Labels: x/rpg-playerstat

#777 Custom actions/ast next
  src/custom-actions/include/ast_block.h
  src/custom-actions/include/custom_action.h
  src/custom-actions/src/action_block.c
  src/custom-actions/src/ast_block.c
  src/custom-actions/src/conditional_block.c
  src/custom-actions/src/control_block.c
  tests/custom-actions/test_ast_block.c
  tests/custom-actions/test_custom_action.c
Labels: x/custom-actions

#799 Update Documentation for Action Synonyms
  docs/actions.md
  include/action_management/action_structs.h
Labels: x/action-management

#793 Custom Scripts Demonstration Example (customizing the output string for a test action TASTE)
  src/custom-scripts/CMakeLists.txt
  src/custom-scripts/examples/CMakeLists.txt
  src/custom-scripts/examples/demonstration.c
  src/custom-scripts/examples/dynamic_string.lua
Labels: x/custom-scripts

#788 Skill Trees: Demo Chiventure Game & Bug Fixes
  include/skilltrees/inventory.h
  include/skilltrees/skill.h
  include/skilltrees/skilltree.h
  include/skilltrees/skilltrees_common.h
  src/skilltrees/CMakeLists.txt
  src/skilltrees/examples/CMakeLists.txt
  src/skilltrees/examples/README.md
  src/skilltrees/examples/skilltrees_demo.png
  src/skilltrees/examples/skilltrees_presentation.c
  src/skilltrees/src/inventory.c
  src/skilltrees/src/skill.c
  src/skilltrees/src/skilltree.c
  src/skilltrees/src/skilltrees_common.c
  tests/skilltrees/CMakeLists.txt
  tests/skilltrees/inventory_test.c
  tests/skilltrees/skill_test.c
  tests/skilltrees/skilltree_test.c
  tests/skilltrees/skilltrees_common_test.c
Labels: x/rpg-skilltrees

#800 Implemented basic .wdz file opening and verified that JSON files can be read in chiventure
  .travis.yml
  CMakeLists.txt
  FindJSON-C.cmake
  FindLibZIP.cmake
  include/wdl/attributes.h
  include/wdl/load_wdz.h
  include/wdl/load_wdz_internal.h
  include/wdl/object.h
  src/wdl/CMakeLists.txt
  src/wdl/src/load_game.c
  src/wdl/src/load_wdz_common.c
  src/wdl/src/load_wdz_lzip.c
  tests/wdl/CMakeLists.txt
  tests/wdl/test_wdz.c
Labels: x/wdl

#789 RPG playerstats: example program
  include/game-state/stats.h
  src/game-state/CMakeLists.txt
  src/game-state/examples/CMakeLists.txt
  src/game-state/examples/stats_example.c
  src/game-state/src/stats.c
  tests/game-state/test_stats.c
Labels: x/rpg-playerstat

#795 Action management demo
  src/action_management/CMakeLists.txt
  src/action_management/examples/CMakeLists.txt
  src/action_management/examples/spring2020-demo.c
  src/action_management/examples/test_game.wdl
  src/game-state/src/game_action.c
Labels: x/action-management

#797 Action management/conditional rooms
  include/action_management/action_structs.h
  include/action_management/actionmanagement.h
  include/game-state/game.h
  include/game-state/game_action.h
  include/game-state/room.h
  src/action_management/src/actionmanagement.c
  src/game-state/src/game.c
  src/game-state/src/game_action.c
  src/game-state/src/path.c
  tests/action_management/CMakeLists.txt
  tests/action_management/test_action_new_init_free.c
  tests/game-state/CMakeLists.txt
  tests/game-state/test_delete_action.c
  tests/game-state/test_path.c
Labels: x/action-management

#784 Created get and change functions for stat module
  include/game-state/stats.h
  src/game-state/src/stats.c
  tests/game-state/test_stats.c
Labels: x/rpg-playerstat

#801 Ui/split-examples
  src/ui/examples/CMakeLists.txt
  src/ui/examples/split_screen_example.c
Labels: x/graphics, x/ui

#803 Initial implementation for player-controlled ball/cursor
  src/ui/examples/map_raylib_example.c
Labels: x/graphics

#804 Merge in a redesign of Chiventure code so that the new object interfaces can be used to load games while still maintaining use of old WDL
  include/common/load_objects.h
  include/wdl/attributes.h
  include/wdl/load_game.h
  include/wdl/load_wdz.h
  include/wdl/load_wdz_internal.h
  include/wdl/wdl_ctx.h
  src/action_management/examples/spring2020-demo.c
  src/chiventure.c
  src/cli/src/operations.c
  src/common/CMakeLists.txt
  src/common/src/load_objects.c
  src/wdl/CMakeLists.txt
  src/wdl/src/load_game.c
  src/wdl/src/load_wdz_common.c
  src/wdl/src/load_wdz_lzip.c
  src/wdl/src/wdl_ctx.c
  tests/wdl/CMakeLists.txt
  tests/wdl/test_wdl_ctx.c
Labels: enhancement, x/wdl

#748 Skilltrees/example
  include/skilltrees/skill-example.h
  include/skilltrees/skill-list.h
  src/skilltrees/examples/alt-skill-list.c
  src/skilltrees/examples/skill-example.c
  src/skilltrees/examples/skill-list.c
  tests/skilltrees/inventory_test.c
Labels: x/rpg-skilltrees

#808 Ui/switch rooms
  src/ui/examples/split_screen_example.c
Labels: x/graphics, x/ui

#755 Custom Scripts Custom Type Struct Being implemented for npcs
  include/npc/npc.h
  include/quests/quests_structs.h
  src/npc/CMakeLists.txt
  src/npc/examples/CMakeLists.txt
  src/npc/examples/npc_example.c
  src/npc/src/npc.c
  src/npc/src/rooms-npc.c
  src/quests/CMakeLists.txt
  src/quests/examples/CMakeLists.txt
  src/quests/examples/quest-example.c
  src/quests/src/quests_state.c
  tests/npc/CMakeLists.txt
  tests/npc/Lua_file/npc_id.lua
  tests/npc/test_npc.c
  tests/npc/test_rooms_npc.c
  tests/quests/CMakeLists.txt
  tests/quests/test_quests_state.c
Labels: x/custom-scripts

#809 Final Changes for Demo
  src/quests/examples/quest-example.c
Labels: x/rpg-npc

#805 added skill trees documentation to `doc/`
  docs/README.md
  docs/skilltrees.md
Labels: x/rpg-skilltrees
