Repository uchicago-cs/chiventure, pull requests merged in 2020-05, with the labels that each got.

#593 Battle State Module | starting point
  CMakeLists.txt
  include/battle/battle_state.h
  include/battle/battle_structs.h
  src/battle/CMakeLists.txt
  src/battle/README.md
  src/battle/src/battle_state.c
  tests/CMakeLists.txt
  tests/battle/CMakeLists.txt
  tests/battle/main.c
  tests/battle/test_battle_state.c
Labels: enhancement

#492 Action management/walk synonym
  docs/actions.md
  include/action_management/action_structs.h
  src/action_management/src/get_actions.c
  tests/action_management/test_get_actions.c
  tests/action_management/test_path_actions.c
Labels: x/action-management

#616 Battle State Minor Fixes (calloc, combatant_free)
  include/battle/battle_state.h
  src/battle/src/battle_state.c
Labels: x/rpg-battle

#604 Sandbox using uthash (in preparation for WDL object store)
  src/wdl/sandbox/uthash.c
Labels: x/wdl

#603 Basic Playerclass Struct
  CMakeLists.txt
  include/playerclass/class.h
  include/playerclass/class_structs.h
  src/playerclass/CMakeLists.txt
  src/playerclass/README.md
  src/playerclass/src/class.c
  tests/CMakeLists.txt
  tests/playerclass/CMakeLists.txt
  tests/playerclass/main.c
  tests/playerclass/test_class.c
Labels: enhancement, x/rpg-playerclass

#580 NPC Module Basics
  CMakeLists.txt
  include/npc/npc.h
  src/game-state/src/common-npc.h
  src/npc/CMakeLists.txt
  src/npc/src/npc.c
  tests/CMakeLists.txt
  tests/npc/CMakeLists.txt
  tests/npc/main.c
  tests/npc/test_npc.c
Labels: x/npc

#551 Added stat.c and stat.h and edited player module to create stat structs and stub functions
  include/game-state/player.h
  include/game-state/stats.h
  src/game-state/CMakeLists.txt
  src/game-state/src/player.c
  src/game-state/src/stats.c
Labels: x/rpg-playerstat

#522 Added new test game
  games/test_game.wdl
  games/test_game_readme.txt
Labels: x/wdl

#599 Created test code for parsing JSON files into JSON objects and then into Game objects.
  src/wdl/sandbox/Makefile
  src/wdl/sandbox/README.md
  src/wdl/sandbox/connected_rooms.jwdl
  src/wdl/sandbox/parser.c
  src/wdl/sandbox/parser.h
Labels: x/wdl

#556 Prevent chiventure from starting in terminals smaller than 80 columns x 24 rows
  include/ui/ui.h
  src/chiventure.c
  src/ui/src/ui.c
Labels: enhancement, x/rpg-skilltrees

#601 Skill Trees: Skeleton Code
  CMakeLists.txt
  include/skilltrees/skilltrees.h
  src/skilltrees/CMakeLists.txt
  src/skilltrees/skilltrees.c
Labels: enhancement, x/rpg-skilltrees

#610 Rpg npc: Npc Room Management Basic Features
  include/game-state/npc.h
  src/game-state/src/npc.c
  tests/game-state/test_npc.c
Labels: x/rpg-npc

#586 Added dialog showcase program that use new conversation structures
  src/npc/sandbox/Makefile
  src/npc/sandbox/convotest.c
Labels: x/npc

#617 Pull Request for the Structs for the Generation Algorithm
  CMakeLists.txt
  include/openworld/gen_structs.h
  src/openworld/CMakeLists.txt
  src/openworld/README.md
  src/openworld/src/gen_structs.c
  tests/CMakeLists.txt
  tests/openworld/CMakeLists.txt
  tests/openworld/main.c
  tests/openworld/test_structs.c
Labels: x/rpg-openworld

#623 Battle flow: new battle set-up
  include/battle/battle_flow.h
  include/battle/battle_flow_structs.h
  include/battle/battle_structs.h
  src/battle/CMakeLists.txt
  src/battle/src/battle_flow.c
  src/battle/src/battle_flow_structs.c
  src/battle/src/battle_state.c
  tests/battle/CMakeLists.txt
  tests/battle/test_battle_flow.c
  tests/battle/test_battle_flow_structs.c
Labels: x/rpg-battle

#611 Added end condition mechanism
  docs/game_state.md
  include/action_management/actionmanagement.h
  include/game-state/game.h
  src/action_management/src/actionmanagement.c
  src/cli/src/operations.c
  src/game-state/src/game.c
  src/ui/src/coordinate.c
  tests/action_management/test_item_actions.c
  tests/action_management/test_item_item_actions.c
  tests/checkpointing/test_load.c
  tests/cli/test_cmd.c
  tests/game-state/test_game.c
Labels: x/action-management

#628 Playerclass: Mock "custom action skills"
  src/playerclass/sandbox/Makefile
  src/playerclass/sandbox/custom_skills.c
  src/playerclass/sandbox/custom_skills.h
  src/playerclass/sandbox/custom_skills_main.c
Labels: x/rpg-playerclass

#642 Added playerclass functions allowing users to restrict classes from using items + to check whether a class is restricted from item use #614
  include/playerclass/class_item_restriction.h
  src/playerclass/CMakeLists.txt
  src/playerclass/src/class_item_restriction.c
  tests/playerclass/CMakeLists.txt
  tests/playerclass/test_class_item_restriction.c
Labels: x/rpg-playerclass

#643 Implemented Custom Actions condition-checking functions
  CMakeLists.txt
  src/custom-actions/CMakeLists.txt
  src/custom-actions/include/custom-actions-common.h
  src/custom-actions/include/custom-actions-cond.h
  src/custom-actions/src/custom-actions-cond.c
  tests/CMakeLists.txt
  tests/custom-actions/CMakeLists.txt
  tests/custom-actions/main.c
  tests/custom-actions/test_ca_cond.c
Labels: x/custom-actions

#625 Battle/classes moves
  include/battle/battle_classes.h
  src/battle/CMakeLists.txt
  src/battle/src/battle_classes.c
  tests/battle/CMakeLists.txt
  tests/battle/test_battle_classes.c
Labels: enhancement, x/rpg-battle

#631 Pull Request for default_room, default_item on Openworld/default
  CMakeLists.txt
  include/openworld/default_items.h
  include/openworld/default_rooms.h
  include/openworld/gen_structs.h
  src/openworld/CMakeLists.txt
  src/openworld/README.md
  src/openworld/src/default_items.c
  src/openworld/src/default_rooms.c
  src/openworld/src/gen_structs.c
  tests/CMakeLists.txt
  tests/openworld/CMakeLists.txt
  tests/openworld/test_items.c
  tests/openworld/test_rooms.c
Labels: x/rpg-openworld

#627 Battle/test moves
  include/battle/battle_classes.h
  include/battle/battle_moves.h
  include/battle/battle_state.h
  include/battle/battle_structs.h
  src/battle/CMakeLists.txt
  src/battle/src/battle_classes.c
  src/battle/src/battle_moves.c
  src/battle/src/battle_state.c
  tests/battle/CMakeLists.txt
  tests/battle/test_battle_classes.c
  tests/battle/test_battle_moves.c
Labels: enhancement, x/rpg-battle

#660 Logo should display properly in smaller terminals
  src/chiventure.c
  src/ui/src/print_functions.c
Labels: enhancement, x/rpg-skilltrees

#630 Added new .wdz test game & script to easily author such games
  src/wdl/sandbox/README_test_game.md
  src/wdl/sandbox/README_wdz.md
  src/wdl/sandbox/test_game.wdz
  src/wdl/sandbox/test_game/game/actions.json
  src/wdl/sandbox/test_game/game/globalconditions.json
  src/wdl/sandbox/test_game/game/items.json
  src/wdl/sandbox/test_game/game/player.json
  src/wdl/sandbox/test_game/game/rooms.json
  src/wdl/sandbox/wdz
Labels: x/wdl

#651 Implemented Custom Actions effect-applying functions
  CMakeLists.txt
  src/custom-actions/CMakeLists.txt
  src/custom-actions/include/custom-actions-common.h
  src/custom-actions/include/custom-actions-cond.h
  src/custom-actions/include/custom-actions-effect.h
  src/custom-actions/src/custom-actions-cond.c
  src/custom-actions/src/custom-actions-effect.c
  tests/custom-actions/CMakeLists.txt
  tests/custom-actions/main.c
  tests/custom-actions/test_ca_cond.c
  tests/custom-actions/test_ca_effect.c
Labels: x/custom-actions

#647 Adding Logic to Battle
  include/battle/battle_logic.h
  include/battle/battle_moves.h
  include/battle/battle_structs.h
  src/battle/CMakeLists.txt
  src/battle/src/battle_logic.c
  src/battle/src/battle_state.c
  tests/battle/CMakeLists.txt
  tests/battle/test_battle_logic.c
  tests/battle/test_battle_state.c
Labels: enhancement, x/rpg-battle

#626 Rpg npc/struct features
  include/game-state/npc.h
  include/npc/npc.h
  src/game-state/src/npc.c
  src/npc/src/npc.c
  tests/game-state/test_npc.c
  tests/npc/test_npc.c
Labels: x/rpg-npc

#657 Custom actions/block modules
  CMakeLists.txt
  src/custom-actions/CMakeLists.txt
  src/custom-actions/include/action_block.h
  src/custom-actions/include/ast_block.h
  src/custom-actions/include/branch_block.h
  src/custom-actions/include/conditional_block.h
  src/custom-actions/include/control_block.h
  src/custom-actions/src/ast_block.c
  src/custom-actions/src/control_block.c
  tests/custom-actions/CMakeLists.txt
  tests/custom-actions/test_ast_block.c
  tests/custom-actions/test_control_block.c
Labels: x/custom-actions

#635 Implementation of the AI Module
  include/battle/battle_ai.h
  include/battle/battle_moves.h
  include/battle/battle_structs.h
  src/battle/CMakeLists.txt
  src/battle/src/battle_ai.c
  tests/battle/CMakeLists.txt
  tests/battle/test_battle_ai.c
Labels: enhancement, x/rpg-battle

#696 Battle/int class
  include/battle/battle_ai.h
  include/battle/battle_classes.h
  include/battle/battle_flow_structs.h
  include/battle/battle_logic.h
  include/battle/battle_moves.h
  include/battle/battle_state.h
  include/battle/battle_structs.h
  include/playerclass/class_structs.h
  src/battle/CMakeLists.txt
  src/battle/src/battle_classes.c
  src/battle/src/battle_flow.c
  src/battle/src/battle_flow_structs.c
  src/battle/src/battle_moves.c
  src/battle/src/battle_state.c
  tests/battle/CMakeLists.txt
  tests/battle/test_battle_ai.c
  tests/battle/test_battle_classes.c
  tests/battle/test_battle_flow.c
  tests/battle/test_battle_flow_structs.c
  tests/battle/test_battle_logic.c
  tests/battle/test_battle_state.c
Labels: enhancement, x/rpg-battle

#658 Custom actions/conditional
  src/custom-actions/CMakeLists.txt
  src/custom-actions/src/action_block.c
  src/custom-actions/src/ast_block.c
  src/custom-actions/src/conditional_block.c
  tests/custom-actions/CMakeLists.txt
  tests/custom-actions/test_action_block.c
  tests/custom-actions/test_conditional_block.c
Labels: x/custom-actions

#638 RPG-NPC Quests | Initial Module
  CMakeLists.txt
  include/quests/quests_state.h
  include/quests/quests_structs.h
  src/quests/CMakeLists.txt
  src/quests/README.md
  src/quests/quests_state.c
  tests/CMakeLists.txt
  tests/quests/CMakeLists.txt
  tests/quests/main.c
  tests/quests/test_quests_state.c
Labels: enhancement, x/rpg-npc

#640 Custom Scripts Custom Type Specification and Implementation
  .travis.yml
  CMakeLists.txt
  include/custom-scripts/custom_type.h
  src/custom-scripts/CMakeLists.txt
  src/custom-scripts/src/custom_type.c
  tests/CMakeLists.txt
  tests/custom-scripts/CMakeLists.txt
  tests/custom-scripts/Lua_file/bool_test.lua
  tests/custom-scripts/Lua_file/char_test.lua
  tests/custom-scripts/Lua_file/int_test.lua
  tests/custom-scripts/Lua_file/string_test.lua
  tests/custom-scripts/main.c
  tests/custom-scripts/test_types.c
Labels: x/custom-scripts

#653 RPG-playerstats: global stats and add/display functions
  include/game-state/game.h
  include/game-state/stats.h
  src/game-state/src/stats.c
  tests/game-state/CMakeLists.txt
  tests/game-state/test_stats.c
Labels: x/rpg-playerstat

#720 Replacing the stats stub struct in our class struct with playerstat's actual stat and effects hash
  include/playerclass/class.h
  include/playerclass/class_structs.h
  src/playerclass/src/class.c
  tests/battle/test_battle_ai.c
  tests/battle/test_battle_flow.c
  tests/battle/test_battle_flow_structs.c
  tests/battle/test_battle_logic.c
  tests/battle/test_battle_state.c
  tests/playerclass/test_class.c
  tests/playerclass/test_class_item_restriction.c
Labels: x/rpg-playerclass
