Repository uchicago-cs/chiventure, pull requests merged in 2021-04, with the labels that each got.

#815 Adding Zip Parsing to Libobj 3.0
  include/libobj/load.h
  src/libobj/CMakeLists.txt
  src/libobj/include/load_internal.h
  src/libobj/include/load_json.h
  src/libobj/src/load_json.c
  src/libobj/src/load_wdz.c
  src/libobj/src/obj.c
  tests/libobj/CMakeLists.txt
  tests/libobj/test_files/GAME.json
  tests/libobj/test_files/ITEMS/DEFAULT.json
  tests/libobj/test_files/ITEMS/blue_lever.json
  tests/libobj/test_files/ITEMS/green_lever.json
  tests/libobj/test_files/ITEMS/purple_lever.json
  tests/libobj/test_files/ITEMS/red_lever.json
  tests/libobj/test_files/ITEMS/trapdoor.json
  tests/libobj/test_files/ROOMS.json
  tests/libobj/test_load_json.c
  tests/libobj/test_load_wdz.c
Labels: enhancement

#833 Integrating Skill Trees into Playerclass
  include/playerclass/class.h
  include/playerclass/class_structs.h
  src/playerclass/CMakeLists.txt
  src/playerclass/src/class.c
  src/playerclass/src/class_skills.c
  src/playerclass/src/class_skills.h
  tests/playerclass/test_class.c
Labels: x/rpg-playerclass

#841 Finished battles README #839
  src/battle/README.md
Labels: x/rpg-battle

#866 Action management/player free
  include/game-state/item.h
  src/game-state/src/item.c
  src/game-state/src/player.c
  tests/action_management/test_item_item_actions.c
Labels: bug, x/game-state

#846 Implement Attribute Linked List Functionality
  include/game-state/item.h
  src/game-state/src/item.c
  tests/game-state/test_items.c
Labels: x/game-state
