Repository uchicago-cs/chiventure, pull requests merged in 2021-06, with the labels that each got.

#1144 Update to help function
  src/cli/src/cmd.c
  src/cli/src/shell.c
  src/game-state/src/game.c
  src/wdl/src/load_item.c
Labels: x/cli

#1081 Implement functions for Ast_block_t List Functionality
  src/custom-actions/include/ast_block.h
  src/custom-actions/src/ast_block.c
  tests/custom-actions/test_ast_block.c
Labels: enhancement, x/action-management, x/custom-actions

#1123 Implemented the Playerclass section of the Player Interface Plan with functionality for deep copying skill inventories
  include/game-state/player.h
  include/skilltrees/inventory.h
  src/game-state/src/player.c
  src/skilltrees/src/inventory.c
  tests/game-state/test_player.c
  tests/skilltrees/inventory_test.c
Labels: x/action-management, x/game-state, x/rpg-skilltrees

#1153 Fixing some small bugs in CLI
  src/cli/src/operations.c
  src/common/src/ctx.c
  src/ui/src/print_functions.c
Labels: x/cli

#1089 remade get_random_default_weapon() to decrement enemy's hp, strength, or defense
  include/battle/battle_default_objects.h
  include/battle/battle_logic.h
  src/battle/examples/battle_command_example.c
  src/battle/src/battle_default_objects.c
  src/battle/src/battle_logic.c
  tests/battle/test_battle_default_objects.c
  tests/battle/test_battle_logic.c
Labels: x/rpg-battle

#1127 Allow player_t to store and gain moves
  include/battle/battle_move_maker.h
  include/game-state/player.h
  src/battle/src/battle_move_maker.c
  src/game-state/src/player.c
  tests/battle/test_battle_move_maker.c
  tests/game-state/test_player.c
Labels: x/rpg-battle, x/rpg-skilltrees

#1146 Adding a Player Class Demo to chiventure
  src/playerclass/examples/2021-demo.c
  src/playerclass/examples/CMakeLists.txt
  src/playerclass/src/class.c
  src/playerclass/src/class_prefabs.c
  tests/playerclass/test_class_item_restriction.c
Labels: x/rpg-playerclass

#1145 Added npc_one_move function and npcs_in_room_operation
  include/cli/operations.h
  include/npc/npc_move.h
  include/npc/rooms-npc.h
  src/cli/src/operations.c
  src/npc/src/npc_move.c
  src/npc/src/rooms-npc.c
  tests/npc/test_dialogue.c
  tests/npc/test_npc_move.c
  tests/npc/test_rooms_npc.c
Labels: x/npc, x/rpg-npc

#1133 Creating a demo game for the action management final presentation.
  src/action_management/examples/CMakeLists.txt
  src/action_management/examples/spring2021-demo.c
Labels: x/action-management

#1110 Skilltrees/effect_v2
  include/game-state/player.h
  include/playerclass/class_structs.h
  include/skilltrees/effect.h
  include/skilltrees/inventory.h
  include/skilltrees/skill.h
  include/skilltrees/skilltree.h
  include/skilltrees/skilltrees_common.h
  include/skilltrees/skilltrees_enums.h
  src/playerclass/examples/2021-demo.c
  src/playerclass/src/class.c
  src/playerclass/src/class_prefabs.c
  src/skilltrees/CMakeLists.txt
  src/skilltrees/src/effect.c
  src/skilltrees/src/skill.c
  tests/game-state/test_player.c
  tests/playerclass/test_class.c
  tests/playerclass/test_class_prefabs.c
  tests/skilltrees/CMakeLists.txt
  tests/skilltrees/effect_t.c
  tests/skilltrees/effect_t.h
  tests/skilltrees/effect_test.c
  tests/skilltrees/inventory_test.c
  tests/skilltrees/skill_test.c
  tests/skilltrees/skilltree_test.c
  tests/skilltrees/skilltrees_common_test.c
  tests/skilltrees/test_init.c
  tests/skilltrees/test_init.h
  tests/wdl/test_class.c
Labels: x/rpg-skilltrees

#1137 Creation of Battle Mode for CLI Integration
  include/battle/battle_flow.h
  include/battle/battle_flow_structs.h
  include/battle/battle_logic.h
  include/battle/battle_print.h
  include/game-state/game.h
  include/game-state/mode.h
  src/battle/examples/CMakeLists.txt
  src/battle/examples/README.md
  src/battle/examples/battle_cli_example.c
  src/battle/examples/battle_command_example.c
  src/battle/examples/battle_flow_example.c
  src/battle/src/battle_default_objects.c
  src/battle/src/battle_flow.c
  src/battle/src/battle_logic.c
  src/battle/src/battle_print.c
  src/game-state/src/game.c
  src/game-state/src/mode.c
  tests/battle/test_battle_default_objects.c
  tests/battle/test_battle_flow.c
  tests/battle/test_battle_logic.c
  tests/battle/test_battle_print.c
Labels: x/game-state, x/rpg-battle

#1151 NPC2 game demo bug fixes related to recent merges
  include/npc/npc.h
  src/game-state/src/game.c
  src/npc/src/dialogue.c
  src/npc/src/npc.c
  src/ui/src/coordinate.c
  tests/battle/test_battle_flow.c
  tests/battle/test_battle_print.c
Labels: bug, x/npc

#1148 Created an openworld demo game
  include/game-state/room.h
  include/openworld/autogenerate.h
  src/game-state/src/game.c
  src/game-state/src/room.c
  src/openworld/CMakeLists.txt
  src/openworld/examples/CMakeLists.txt
  src/openworld/examples/openworld-demo-2021.c
  src/openworld/src/autogenerate.c
  tests/openworld/test_autogenerate.c
Labels: x/rpg-openworld

#1136 Created a sample game to display new features for GUI
  include/ui/gui.h
  src/ui/examples/CMakeLists.txt
  src/ui/examples/gui_sample_game.c
  src/ui/examples/room1.png
  src/ui/examples/room2.png
  src/ui/examples/room3.png
Labels: x/graphics x/gui

#1135 Npc/battle tests
  src/npc/src/npc.c
  src/npc/src/npc_battle.c
  tests/npc/CMakeLists.txt
  tests/npc/test_npc.c
  tests/npc/test_npc_battle.c
Labels: x/npc, x/rpg-npc

#1147 Demo for NPC_1 2021
  src/npc/examples/CMakeLists.txt
  src/npc/examples/battle_move_example_2021.c
  src/npc/src/rooms-npc.c
  tests/npc/test_npc_move.c
Labels: x/npc, x/rpg-npc

#1092 Quests/add all quests hash
  include/game-state/game.h
  include/quests/quests_state.h
  include/quests/quests_structs.h
  src/game-state/CMakeLists.txt
  src/game-state/src/game.c
  src/quests/src/quests_state.c
Labels: x/quests

#1140 sound/dev Initial Design and Implementation of Sound Module
  .github/workflows/build-and-test.yml
  CMakeLists.txt
  include/sound/sound.h
  src/sound/CMakeLists.txt
  src/sound/README.md
  src/sound/examples/Makefile
  src/sound/examples/demo.c
  src/sound/examples/demo.h
  src/sound/sandbox/Makefile
  src/sound/sandbox/README
  src/sound/sandbox/main.c
  src/sound/src/sound.c
Labels: x/sound

#1138 Skill Trees Demo
  include/game-state/player.h
  include/skilltrees/skilltrees_common.h
  src/skilltrees/examples/CMakeLists.txt
  src/skilltrees/examples/skilltrees_demo.c
  src/skilltrees/examples/skilltrees_presentation.c
  src/skilltrees/src/effect.c
Labels: x/rpg-skilltrees

#1139 Skilltrees/effect test
  src/skilltrees/src/effect.c
  tests/skilltrees/effect_test.c
  tests/skilltrees/inventory_test.c
  tests/skilltrees/skill_test.c
  tests/skilltrees/skilltree_test.c
  tests/skilltrees/skilltrees_common_test.c
  tests/skilltrees/test_init.c
  tests/skilltrees/test_init.h
Labels: x/rpg-skilltrees

#1096 Implement new quest functions, tests, and data structures
  include/quests/quests_state.h
  include/quests/quests_structs.h
  src/quests/examples/quest-example.c
  src/quests/src/quests_state.c
  tests/quests/test_quests_state.c
Labels: x/quests

#1156 Fixes last minute errors in the Action Management Demo Game
  src/action_management/examples/spring2021-demo.c
Labels: x/action-management

#1155 Skilltrees/demo bugfixes
  src/skilltrees/examples/skilltrees_demo.c
  src/skilltrees/src/effect.c
Labels: x/rpg-skilltrees
