Repository uchicago-cs/chiventure, pull requests merged in 2021-05, with the labels that each got.

#844 Implementing validation of number of objects in command
  src/cli/src/operations.c
Labels: x/cli

#896 Implement level-oriented autogeneration
  include/openworld/autogenerate.h
  include/openworld/gen_structs.h
  src/openworld/src/autogenerate.c
  src/openworld/src/gen_structs.c
  tests/openworld/test_autogenerate.c
  tests/openworld/test_structs.c
Labels: x/rpg-openworld

#847 Changing Player Class Item Restrictions to be Managed via Linked Lists
  include/game-state/item.h
  include/playerclass/class_item_restriction.h
  src/game-state/src/item.c
  src/playerclass/examples/pc_demo.c
  src/playerclass/src/class_item_restriction.c
  tests/game-state/test_items.c
  tests/playerclass/test_class_item_restriction.c
Labels: x/rpg-playerclass

#903 Clarified the example battle README
  src/battle/examples/README.md
Labels: x/rpg-battle

#900 Battles/default objects
  include/battle/battle_default_objects.h
  src/battle/CMakeLists.txt
  src/battle/src/battle_default_objects.c
  tests/battle/CMakeLists.txt
  tests/battle/test_battle_default_objects.c
Labels: x/rpg-battle

#943 Adding type-specific attribute creation functions to streamline Player Class/Attribute integration
  include/game-state/item.h
  src/game-state/src/item.c
  src/playerclass/src/class_item_restriction.c
  tests/game-state/test_items.c
Labels: x/rpg-playerclass

#919 Memory management in game-state and action_management
  include/action_management/actionmanagement.h
  src/action_management/src/get_actions.c
  src/game-state/src/condition.c
  src/game-state/src/game.c
  src/game-state/src/item.c
  src/game-state/src/path.c
  src/game-state/src/player.c
  src/game-state/src/stats.c
  tests/action_management/test_action_new_init_free.c
  tests/action_management/test_get_actions.c
  tests/action_management/test_item_actions.c
  tests/action_management/test_item_item_actions.c
  tests/game-state/test_condition.c
  tests/game-state/test_delete_action.c
  tests/game-state/test_game.c
  tests/game-state/test_items.c
  tests/game-state/test_path.c
  tests/game-state/test_player.c
  tests/game-state/test_rooms.c
  tests/game-state/test_stats.c
Labels: bug, x/action-management, x/game-state

#927 Added npc documentation to doc/
  docs/README.md
  docs/npc.md
Labels: x/npc

#905 Added use <item> functionality to example and updated readme to reflect updates
  src/battle/examples/README.md
  src/battle/examples/battle_command_example
  src/battle/examples/battle_command_example.c
Labels: x/rpg-battle

#962 Action management/effects free
  include/game-state/stats.h
  src/game-state/src/stats.c
  tests/game-state/test_player.c
Labels: bug, x/action-management, x/game-state

#897 Implementing mode functionality to support NPC dialogue
  include/game-state/game.h
  include/game-state/mode.h
  src/common/src/ctx.c
  src/game-state/CMakeLists.txt
  src/game-state/src/game.c
  src/game-state/src/mode.c
  src/ui/src/print_functions.c
  src/wdl/src/load_game.c
Labels: x/npc

#916 Playerclass/prefab classes: Adding prefabricated classes to the playerclass component
  include/playerclass/class.h
  include/playerclass/class_prefabs.h
  src/playerclass/CMakeLists.txt
  src/playerclass/src/class.c
  src/playerclass/src/class_prefabs.c
  src/playerclass/src/class_skills.c
  src/playerclass/src/class_skills.h
  tests/playerclass/CMakeLists.txt
  tests/playerclass/test_class.c
  tests/playerclass/test_class_prefabs.c
Labels: x/rpg-playerclass

#941 Renamed struct item_t to battle_item_t
  include/battle/battle_common.h
  include/battle/battle_default_objects.h
  include/battle/battle_flow_structs.h
  include/battle/battle_logic.h
  include/battle/battle_moves.h
  include/battle/battle_state.h
  include/battle/battle_structs.h
  src/battle/examples/battle_command_example
  src/battle/examples/battle_command_example.c
  src/battle/src/battle_default_objects.c
  src/battle/src/battle_flow.c
  src/battle/src/battle_flow_structs.c
  src/battle/src/battle_logic.c
  src/battle/src/battle_moves.c
  src/battle/src/battle_state.c
  tests/battle/test_battle_ai.c
  tests/battle/test_battle_default_objects.c
  tests/battle/test_battle_logic.c
  tests/battle/test_battle_move_maker.c
  tests/battle/test_battle_moves.c
Labels: x/rpg-battle

#909 Update quest documentation
  include/quests/quests_state.h
  include/quests/quests_structs.h
Labels: x/quests

#827 Updating WDL to Use Libobj 3.0
  .travis.yml
  CMakeLists.txt
  FindLibYAML.cmake
  README.md
  docs/dependencies.md
  games/distaff.wdl
  games/forks.wdl
  games/levers.wdl
  games/orb.wdl
  include/libobj/load.h
  include/libobj/parser.h
  include/libobj/stack.h
  include/wdl/load_item.h
  src/chiventure.c
  src/libobj/CMakeLists.txt
  src/libobj/include/load_internal.h
  src/libobj/src/load.c
  src/libobj/src/load_wdz.c
  src/libobj/src/parser.c
  src/libobj/src/stack.c
  src/wdl/src/load_game.c
  src/wdl/src/load_item.c
  src/wdl/src/load_room.c
  src/wdl/src/parse.c
  src/wdl/src/validate.c
  tests/wdl/examples/connected_rooms.wdl
  tests/wdl/examples/test.wdl
  tests/wdl/examples/wdl/connected-rooms.wdl
  tests/wdl/examples/wdz/connected-rooms/DEFAULT.wdl
  tests/wdl/test_game.c
  tests/wdl/test_item.c
  tests/wdl/test_room.c
  tests/wdl/test_validation.c
  tests/wdl/test_wdl.h
Labels: enhancement

#904 Integrating npc_mov struct into npc struct and splitting rooms-npc module
  include/npc/npc.h
  include/npc/npc_move.h
  include/npc/rooms-npc.h
  src/npc/CMakeLists.txt
  src/npc/examples/npc_example.c
  src/npc/src/npc.c
  src/npc/src/npc_move.c
  src/npc/src/rooms-npc.c
  src/quests/examples/quest-example.c
  tests/npc/test_npc.c
  tests/npc/test_rooms_npc.c
  tests/quests/test_quests_state.c
Labels: x/npc, x/rpg-npc

#914 Skilltrees/skill modify: Implementation of v1 of effects that describe what a skill does.
  include/playerclass/class.h
  include/playerclass/class_structs.h
  include/skilltrees/effect.h
  include/skilltrees/skill.h
  include/skilltrees/skilltree.h
  include/skilltrees/skilltrees_common.h
  src/skilltrees/CMakeLists.txt
  src/skilltrees/examples/skill-example.c
  src/skilltrees/src/effect.c
  src/skilltrees/src/skill.c
  tests/skilltrees/inventory_test.c
  tests/skilltrees/skill_test.c
  tests/skilltrees/skilltree_test.c
Labels: x/rpg-skilltrees

#965 Create and implemente free_condition
  include/game-state/condition.h
  src/game-state/src/condition.c
  tests/game-state/test_condition.c
Labels: enhancement, x/action-management, x/game-state

#956 Fixed battle_flow_example and updated README
  src/battle/examples/CMakeLists.txt
  src/battle/examples/README.md
  src/battle/examples/battle_flow_example.c
  src/battle/src/battle_flow.c
Labels: x/rpg-battle

#997 Openworld: Implement autogeneration for rooms within a radius (aka recursive generation)
  include/openworld/autogenerate.h
  src/openworld/src/autogenerate.c
  tests/openworld/test_autogenerate.c
Labels: x/rpg-openworld

#983 created an example that spliced together split screen and map examples to form a visual with a split screen with a small map in the top left corner
  src/ui/examples/CMakeLists.txt
  src/ui/examples/split_screen_map_example.c
Labels: x/graphics, x/graphics x/gui

#987 Refactor level-oriented generation code
  include/openworld/autogenerate.h
  src/openworld/src/autogenerate.c
  tests/openworld/test_autogenerate.c
Labels: x/rpg-openworld

#993 Cli/operation items
  include/cli/operations.h
  src/cli/src/cmd.c
  src/cli/src/operations.c
Labels: x/cli

#1003 Create and Implement deep memory copy functionality for Stat and Effect Structs
  include/game-state/stats.h
  src/game-state/src/stats.c
  tests/game-state/test_stats.c
Labels: enhancement, x/action-management, x/game-state

#970 Implemented tests for functions in mode module
  tests/game-state/CMakeLists.txt
  tests/game-state/test_mode.c
Labels: x/npc

#1002 Implementing gui.c to work work with chiventure.c (Creating a GUI Graphic and chiventure)
  include/ui/gui.h
  src/chiventure.c
  src/ui/CMakeLists.txt
  src/ui/src/gui.c
Labels: x/graphics, x/gui

#967 renamed player_t struct and adjusted code accordingly
  include/battle/battle_flow.h
  include/battle/battle_flow_structs.h
  include/battle/battle_logic.h
  include/battle/battle_print.h
  src/battle/examples/battle_command_example
  src/battle/examples/battle_command_example.c
  src/battle/examples/battle_flow_example.c
  src/battle/src/battle_flow.c
  src/battle/src/battle_flow_structs.c
  tests/battle/test_battle_ai.c
  tests/battle/test_battle_flow.c
  tests/battle/test_battle_flow_structs.c
  tests/battle/test_battle_logic.c
  tests/battle/test_battle_move_maker.c
  tests/battle/test_battle_print.c
Labels: x/rpg-battle

#971 PR for default battle items/consumables and stats
  include/battle/battle_default_objects.h
  src/battle/README.md
  src/battle/examples/battle_command_example.c
  src/battle/src/battle_default_objects.c
  tests/battle/test_battle_default_objects.c
Labels: x/rpg-battle

#969 Renamed game_t to battle_game_t
  include/battle/battle_flow.h
  include/battle/battle_flow_structs.h
  src/battle/examples/battle_command_example
  src/battle/examples/battle_command_example.c
  src/battle/examples/battle_flow_example.c
  src/battle/src/battle_flow.c
  src/battle/src/battle_flow_structs.c
  tests/battle/test_battle_flow.c
  tests/battle/test_battle_flow_structs.c
  tests/battle/test_battle_move_maker.c
Labels: x/rpg-battle

#991 Playerclass/item interactions: Adding Efficiency Multipliers based on a player's class to Items.
  include/game-state/item.h
  include/playerclass/class_item.h
  include/playerclass/class_item_restriction.h
  src/game-state/src/item.c
  src/playerclass/CMakeLists.txt
  src/playerclass/README.md
  src/playerclass/examples/demo-functions.h
  src/playerclass/examples/pc_demo.c
  src/playerclass/src/class_item.c
  src/playerclass/src/class_item_restriction.c
  tests/game-state/test_items.c
  tests/playerclass/CMakeLists.txt
  tests/playerclass/test_class_item.c
  tests/playerclass/test_class_item_restriction.c
Labels: x/game-state, x/rpg-playerclass

#1001 Implemented add-move function that will help with integration with skilltree
  include/battle/battle_flow.h
  include/battle/battle_move_maker.h
  src/battle/CMakeLists.txt
  src/battle/examples/battle_command_example.c
  src/battle/examples/battle_move_maker.h
  src/battle/src/battle_move_maker.c
  tests/battle/test_battle_flow.c
  tests/battle/test_battle_move_maker.c
Labels: x/rpg-battle

#1021 changed naming of class_t fields in structs
  include/battle/battle_common.h
  include/battle/battle_flow_structs.h
  include/battle/battle_state.h
  src/battle/examples/battle_command_example
  src/battle/src/battle_flow.c
  src/battle/src/battle_flow_structs.c
  src/battle/src/battle_move_maker.c
  src/battle/src/battle_state.c
  tests/battle/test_battle_ai.c
  tests/battle/test_battle_flow.c
  tests/battle/test_battle_flow_structs.c
  tests/battle/test_battle_logic.c
  tests/battle/test_battle_state.c
Labels: x/rpg-battle

#978 Creation of struct and functions to allow for temporary stat changes
  include/battle/battle_logic.h
  include/battle/battle_state.h
  include/battle/battle_structs.h
  src/battle/src/battle_logic.c
  src/battle/src/battle_state.c
  tests/battle/test_battle_logic.c
  tests/battle/test_battle_state.c
Labels: x/rpg-battle

#1011 Implemented the Stats/Effects and Skilltree sections of the Player Interface Plan
  include/game-state/player.h
  src/game-state/src/player.c
  src/game-state/src/stats.c
  tests/game-state/test_player.c
Labels: x/action-management, x/game-state

#1051 Added a level type condition to limit player actions based on their current level
  include/game-state/condition.h
  src/game-state/src/condition.c
  tests/game-state/test_condition.c
Labels: x/action-management, x/game-state

#1010 Added fields to battle_item_t struct to distinguish between items/weapons
  include/battle/battle_default_objects.h
  include/battle/battle_structs.h
  src/battle/src/battle_default_objects.c
  tests/battle/test_battle_default_objects.c
Labels: x/rpg-battle

#1036 Fixing chiventure segfault when trying to load wdl file
  README.md
  include/cli/operations.h
  src/cli/src/operations.c
Labels: x/cli

#1009 Implementing support for the history command
  include/cli/cmdlist.h
  include/common/ctx.h
  src/cli/CMakeLists.txt
  src/cli/src/cmd.c
  src/cli/src/cmdlist.c
  src/cli/src/operations.c
  src/cli/src/shell.c
  src/common/src/ctx.c
Labels: x/cli

#1067 WDL/Libobj Reorganization
  include/common/ctx.h
  include/common/load_objects.h
  include/libobj/load.h
  include/libobj/obj.h
  include/wdl/attributes.h
  include/wdl/load_game.h
  include/wdl/load_item.h
  include/wdl/load_room.h
  include/wdl/load_wdz.h
  include/wdl/load_wdz_internal.h
  include/wdl/object.h
  include/wdl/objstore.h
  include/wdl/parse.h
  include/wdl/wdl_ctx.h
  src/action_management/examples/spring2020-demo.c
  src/chiventure.c
  src/cli/src/operations.c
  src/common/CMakeLists.txt
  src/common/src/ctx.c
  src/common/src/load_objects.c
  src/custom-actions/include/interface.h
  src/custom-actions/src/interface.c
  src/libobj/CMakeLists.txt
  src/libobj/examples/CMakeLists.txt
  src/libobj/examples/obj-example.c
  src/libobj/examples/obj.c
  src/libobj/examples/parse.c
  src/libobj/examples/wdl-example.c
  src/libobj/src/load.c
  src/libobj/src/load_json.c
  src/libobj/src/load_wdz.c
  src/libobj/src/obj.c
  src/wdl/CMakeLists.txt
  src/wdl/src/attributes.c
  src/wdl/src/load_game.c
  src/wdl/src/load_item.c
  src/wdl/src/load_room.c
  src/wdl/src/load_wdz_common.c
  src/wdl/src/load_wdz_lzip.c
  src/wdl/src/object.c
  src/wdl/src/objstore.c
  src/wdl/src/parse.c
  src/wdl/src/validate.c
  src/wdl/src/wdl_ctx.c
  tests/libobj/test_load_json.c
  tests/libobj/test_load_wdz.c
  tests/wdl/CMakeLists.txt
  tests/wdl/test_attributes.c
  tests/wdl/test_game.c
  tests/wdl/test_item.c
  tests/wdl/test_object.c
  tests/wdl/test_objstore.c
  tests/wdl/test_room.c
  tests/wdl/test_validation.c
  tests/wdl/test_wdl_ctx.c
  tests/wdl/test_wdz.c
Labels: enhancement

#1041 Implementing support for input suggestions when input is misspelled
  include/cli/operations.h
  src/cli/src/operations.c
Labels: x/cli

#999 Added all_npcs field to game and Completed Integrating Conversations into Chiventure with Example
  include/game-state/game.h
  include/game-state/mode.h
  include/npc/npc.h
  src/game-state/src/game.c
  src/game-state/src/mode.c
  src/npc/examples/CMakeLists.txt
  src/npc/examples/conversation_mode_example.c
  src/npc/src/npc.c
Labels: x/npc

#1062 Openworld: Introduce levelspec_t struct (with associated tests and helpers)
  include/openworld/autogenerate.h
  include/openworld/gen_structs.h
  src/openworld/src/autogenerate.c
  src/openworld/src/default_rooms.c
  src/openworld/src/gen_structs.c
  tests/openworld/test_autogenerate.c
  tests/openworld/test_rooms.c
  tests/openworld/test_structs.c
Labels: x/rpg-openworld

#1077 Openworld: Convert room_generate() into a general purpose, single-room loading + connecting function
  include/openworld/autogenerate.h
  src/openworld/src/autogenerate.c
  tests/openworld/test_autogenerate.c
Labels: x/rpg-openworld

#1029 Added DSL grammar file: Implementation of the core features of the DSL grammar
  src/dsl/README.md
  src/dsl/examples/distaff.dsl
  src/dsl/examples/short_example.dsl
  src/dsl/src/dsl_grammar.lark
  src/dsl/src/dsl_parser.py
  src/dsl/src/util.lark
Labels: x/dsl

#899 Cleaning up npc.h and implementing integration plan for npc and battle modules.
  include/npc/npc.h
  include/npc/npc_battle.h
  src/npc/CMakeLists.txt
  src/npc/src/npc.c
  src/npc/src/npc_battle.c
  tests/npc/test_npc.c
  tests/npc/test_rooms_npc.c
  tests/quests/test_quests_state.c
Labels: x/npc, x/rpg-npc

#1065 Implement Do Custom Action - Running AST Action Blocks
  src/custom-actions/include/ast_block.h
  src/custom-actions/include/conditional_block.h
  src/custom-actions/include/interface.h
  src/custom-actions/src/ast_block.c
  src/custom-actions/src/conditional_block.c
  src/custom-actions/src/interface.c
  tests/custom-actions/CMakeLists.txt
  tests/custom-actions/test_ast_block.c
  tests/custom-actions/test_branch_block.c
  tests/custom-actions/test_conditional_block.c
  tests/custom-actions/test_interface_functions.c
Labels: x/action-management, x/custom-actions

#1048 Cli/parse with linked lists
  include/cli/parser.h
  src/cli/src/parser.c
  src/ui/src/print_functions.c
Labels: x/cli

#1087 Openworld Documentation
  docs/openworld.md
Labels: x/rpg-openworld

#958 Updated and created new tests for the integration of npc and npc_move modules
  src/npc/src/npc_move.c
  tests/npc/CMakeLists.txt
  tests/npc/test_npc.c
  tests/npc/test_npc_move.c
  tests/npc/test_rooms_npc.c
Labels: x/npc, x/rpg-npc

#1006 Cli/indentation
  src/cli/src/shell.c
  src/ui/src/print_functions.c
Labels: x/cli

#1008 Implementation of conditional dialogue and action-dialogue integrations; Wrote dialogue unit tests
  include/game-state/game.h
  include/game-state/item.h
  include/npc/dialogue.h
  include/npc/npc.h
  src/game-state/src/item.c
  src/game-state/src/mode.c
  src/game-state/src/player.c
  src/npc/examples/conversation_mode_example.c
  src/npc/examples/dialogue_example.c
  src/npc/examples/dialogue_example_2020.c
  src/npc/examples/npc_example.c
  src/npc/src/dialogue.c
  tests/npc/test_dialogue.c
Labels: x/npc

#911 Playerclass/multiclass: initial implementation of multiclassing
  include/playerclass/class.h
  include/playerclass/class_structs.h
  include/skilltrees/effect.h
  include/skilltrees/skill.h
  include/skilltrees/skilltree.h
  include/skilltrees/skilltrees_common.h
  src/game-state/src/condition.c
  src/playerclass/README.md
  src/playerclass/src/class.c
  src/playerclass/src/class_item_restriction.c
  src/skilltrees/CMakeLists.txt
  src/skilltrees/examples/skill-example.c
  src/skilltrees/src/effect.c
  src/skilltrees/src/skill.c
  tests/game-state/test_condition.c
  tests/playerclass/test_class_item_restriction.c
  tests/skilltrees/inventory_test.c
  tests/skilltrees/skill_test.c
  tests/skilltrees/skilltree_test.c
Labels: x/rpg-playerclass

#1091 Removing an item from player struct once used, and having an item count as the player's turn
  include/battle/battle_flow.h
  include/battle/battle_logic.h
  src/battle/examples/battle_command_example
  src/battle/examples/battle_command_example.c
  src/battle/src/battle_flow.c
  src/battle/src/battle_logic.c
  tests/battle/test_battle_logic.c
Labels: x/rpg-battle

#1061 Playerclass/hashtable: Refactor class_t, and make it a hashtable.
  include/game-state/game.h
  include/game-state/player.h
  include/playerclass/class.h
  include/playerclass/class_structs.h
  src/game-state/examples/stats_example.c
  src/game-state/src/player.c
  src/playerclass/README.md
  src/playerclass/src/class.c
  src/playerclass/src/class_item_restriction.c
  src/playerclass/src/class_prefabs.c
  tests/battle/test_battle_flow.c
  tests/battle/test_battle_flow_structs.c
  tests/battle/test_battle_logic.c
  tests/battle/test_battle_state.c
  tests/game-state/test_player.c
  tests/playerclass/test_class.c
  tests/playerclass/test_class_prefabs.c
Labels: x/rpg-playerclass

#1086 Playerclass/wdl loading: Load classes in from WDL files.
  include/playerclass/class_prefabs.h
  include/wdl/load_class.h
  include/wdl/validate.h
  src/playerclass/src/class_prefabs.c
  src/wdl/CMakeLists.txt
  src/wdl/src/load_class.c
  src/wdl/src/load_game.c
  src/wdl/src/validate.c
  tests/playerclass/test_class_prefabs.c
  tests/wdl/CMakeLists.txt
  tests/wdl/examples/wdl/classes.wdl
  tests/wdl/test_class.c
  tests/wdl/test_game.c
Labels: x/rpg-playerclass, x/wdl

#1075 Integrating graphics with chiventure by displaying a split-screen with a chiventure graphic in the upper half
  include/ui/gui.h
  src/chiventure.c
  src/ui/CMakeLists.txt
  src/ui/src/chiventure.png
  src/ui/src/gui.c
Labels: x/graphics, x/gui

#1090 New npc_battle functions
  include/npc/npc.h
  src/npc/src/npc.c
Labels: x/npc, x/rpg-npc

#1082 Integrated NPCs with rooms
  include/game-state/game.h
  include/game-state/room.h
  include/npc/dialogue.h
  include/npc/npc.h
  include/npc/npc_move.h
  include/npc/rooms-npc.h
  src/game-state/src/room.c
Labels: x/npc

#1103 Adding Player Class documentation to the docs folder
  docs/README.md
  docs/playerclass.md
  src/playerclass/README.md
Labels: x/rpg-playerclass

#1015 Made changes on skill leveling prerequisite structures, and modified tests accordingly.
  include/skilltrees/skilltree.h
  src/playerclass/src/class_prefabs.c
  src/skilltrees/src/skilltree.c
  tests/skilltrees/skilltree_test.c
Labels: x/rpg-skilltrees

#1104 Integrate npc_battle struct with battle code
  include/battle/battle_common.h
  include/battle/battle_flow.h
  include/battle/battle_flow_structs.h
  src/battle/examples/battle_command_example.c
  src/battle/examples/battle_flow_example.c
  src/battle/src/battle_flow.c
  src/battle/src/battle_flow_structs.c
  src/game-state/CMakeLists.txt
  tests/battle/test_battle_flow.c
  tests/battle/test_battle_flow_structs.c
  tests/battle/test_battle_logic.c
  tests/battle/test_battle_move_maker.c
  tests/battle/test_battle_moves.c
  tests/battle/test_battle_print.c
  tests/battle/test_battle_state.c
Labels: x/rpg-battle

#1095 Implement Variables in the DSL
  src/dsl/.gitignore
  src/dsl/examples/vars.dsl
  src/dsl/src/dsl_parser.py
  src/dsl/src/vars.lark
  src/dsl/src/vars_parser.py
Labels: x/dsl

#1102 Restructing of branch_block_t and implementation of do_branch_block
  src/custom-actions/include/branch_block.h
  src/custom-actions/include/custom-actions-common.h
  src/custom-actions/src/ast_block.c
  src/custom-actions/src/branch_block.c
  src/custom-actions/src/interface.c
  tests/custom-actions/test_branch_block.c
  tests/custom-actions/test_ca_cond.c
  tests/custom-actions/test_conditional_block.c
Labels: x/action-management, x/custom-actions

#1094 Implement talk operation for conversations
  include/cli/operations.h
  include/game-state/mode.h
  include/npc/npc.h
  include/npc/rooms-npc.h
  src/cli/src/cmd.c
  src/cli/src/operations.c
  src/game-state/src/mode.c
  src/game-state/src/room.c
  src/npc/examples/conversation_mode_example.c
  src/npc/examples/npc_example.c
  src/npc/src/rooms-npc.c
  tests/game-state/test_game.c
  tests/game-state/test_mode.c
  tests/npc/test_rooms_npc.c
Labels: x/npc

#1093 Loot dead npc bodies
  include/npc/npc.h
  include/npc/npc_battle.h
  src/npc/src/npc_battle.c
Labels: x/npc, x/rpg-npc

#1118 Implement full-on DSL→WDL translation
  src/dsl/README.md
  src/dsl/conda_environment.yml
  src/dsl/examples/dsl/connected-rooms.dsl
  src/dsl/examples/dsl/connected-vars.dsl
  src/dsl/examples/dsl/distaff.dsl
  src/dsl/examples/dsl/long-example.dsl
  src/dsl/examples/dsl/min.dsl
  src/dsl/examples/dsl/short_example.dsl
  src/dsl/examples/dsl/vars.dsl
  src/dsl/examples/wdl/connected-rooms.wdl
  src/dsl/examples/wdl/connected-vars.wdl
  src/dsl/examples/wdl/distaff.wdl
  src/dsl/examples/wdl/long-example.wdl
  src/dsl/examples/wdl/min.wdl
  src/dsl/examples/wdl/short_example.wdl
  src/dsl/examples/wdl/vars.wdl
  src/dsl/grammars/dsl_grammar.lark
  src/dsl/grammars/util.lark
  src/dsl/grammars/vars.lark
  src/dsl/src/dsl_parser.py
  src/dsl/src/parse.py
  src/dsl/src/to_wdl.py
  src/dsl/src/vars_parser.py
Labels: x/dsl

#1108 Implementing the new cli context struct
  include/cli/cli_ctx.h
  include/common/ctx.h
  src/cli/CMakeLists.txt
  src/cli/examples/extra-command.c
  src/cli/src/cli_ctx.c
  src/cli/src/cmd.c
  src/cli/src/operations.c
  src/common/src/ctx.c
  src/custom-scripts/examples/demonstration.c
  src/game-state/examples/stats_example.c
  src/npc/examples/conversation_mode_example.c
  src/npc/examples/npc_example.c
  src/quests/examples/quest-example.c
  src/skilltrees/examples/skilltrees_presentation.c
  tests/action_management/test_item_actions.c
  tests/action_management/test_item_item_actions.c
Labels: x/cli

#1101 Regression
  include/skilltrees/skill.h
  src/skilltrees/src/skill.c
  tests/skilltrees/skill_test.c
Labels: x/rpg-skilltrees

#1124 Implementing lowercase case insensitivity
  include/cli/operations.h
  include/cli/parser.h
  include/cli/util.h
  include/game-state/game_action.h
  include/game-state/game_state_common.h
  src/action_management/src/actionmanagement.c
  src/action_management/src/get_actions.c
  src/cli/CMakeLists.txt
  src/cli/src/cmd.c
  src/cli/src/operations.c
  src/cli/src/parser.c
  src/cli/src/util.c
  src/game-state/src/game.c
  src/game-state/src/game_action.c
  src/game-state/src/item.c
  src/game-state/src/path.c
  src/game-state/src/room.c
  src/openworld/src/autogenerate.c
  src/ui/src/print_functions.c
  src/wdl/src/load_item.c
  src/wdl/src/load_room.c
  src/wdl/src/validate.c
  tests/action_management/test_action_new_init_free.c
  tests/action_management/test_get_actions.c
  tests/cli/test_parser.c
  tests/openworld/test_autogenerate.c
  tests/wdl/test_item.c
  tests/wdl/test_room.c
Labels: x/cli

#1134 Created DSL Demo File
  src/dsl/examples/dsl/demo.dsl
  src/dsl/examples/wdl/demo.wdl
Labels: x/dsl

#1131 Cli/testing parse r
  tests/cli/test_parser.c
Labels: x/cli

#1080 Replace achievement linked lists with non-binary trees
  include/quests/quests_state.h
  include/quests/quests_structs.h
  src/quests/examples/quest-example.c
  src/quests/src/quests_state.c
  tests/quests/test_quests_state.c
Labels: x/quests

#1012 Added new functions in the npc_mov module and updated relevant tests
  include/npc/npc.h
  include/npc/npc_move.h
  src/npc/src/npc_move.c
  tests/npc/test_dialogue.c
  tests/npc/test_npc_move.c
  tests/npc/test_rooms_npc.c
Labels: x/npc, x/rpg-npc

#1083 Added the ability to load NPCs from WDL files; added multiple hash table support for items
  include/game-state/game.h
  include/game-state/item.h
  include/npc/dialogue.h
  include/npc/npc.h
  include/wdl/load_condition.h
  include/wdl/load_npc.h
  include/wdl/validate.h
  include/wdl/wdl_common.h
  src/cli/src/shell.c
  src/common/src/ctx.c
  src/game-state/src/game.c
  src/game-state/src/item.c
  src/npc/examples/dialogue_example.c
  src/npc/src/dialogue.c
  src/npc/src/npc.c
  src/wdl/CMakeLists.txt
  src/wdl/src/load_condition.c
  src/wdl/src/load_game.c
  src/wdl/src/load_item.c
  src/wdl/src/load_npc.c
  src/wdl/src/validate.c
  tests/npc/test_dialogue.c
Labels: x/npc

#1106 Openworld: Introduce itemspec_t struct (with associated helpers and tests) and implement probability-based item generation
  include/openworld/autogenerate.h
  include/openworld/default_rooms.h
  include/openworld/gen_structs.h
  src/openworld/src/autogenerate.c
  src/openworld/src/default_rooms.c
  src/openworld/src/gen_structs.c
  tests/openworld/test_autogenerate.c
  tests/openworld/test_rooms.c
  tests/openworld/test_structs.c
Labels: x/rpg-openworld
