Repository uchicago-cs/chiventure, pull requests merged in 2022-05, with the labels that each got.

#1237 Quests/change id format
  include/quests/quests_state.h
  include/quests/quests_structs.h
  src/quests/examples/quest-example.c
  src/quests/src/quests_state.c
  tests/quests/main.c
  tests/quests/test_quests_state.c
Labels: x/quests

#1228 Quests: Renamed "achievement" to "task"
  include/quests/quests_state.h
  include/quests/quests_structs.h
  src/quests/examples/quest-example.c
  src/quests/src/quests_state.c
  tests/quests/test_quests_state.c
Labels: x/quests

#1238 Quests/move rewards
  include/quests/quests_state.h
  include/quests/quests_structs.h
  src/quests/examples/quest-example.c
  src/quests/src/quests_state.c
  tests/quests/test_quests_state.c
Labels: x/quests

#1243 Updating the in-repository NPC.md documentation and Rearranging functions in npc.h
  docs/npc.md
  include/npc/npc.h
  src/npc/src/npc.c
Labels: x/npc

#1221 Test implemented for execute_move_effect() function
  src/skilltrees/src/effect.c
  tests/skilltrees/effect_test.c
Labels: x/rpg-skilltrees

#1268 Fixing a bug in NPC movement when a specific room is in multiple steps of its path
  include/cli/cli_ctx.h
  include/npc/npc_move.h
  src/npc/examples/battle_move_example_2021.c
  src/npc/examples/conversation_mode_example.c
  src/npc/examples/dialogue_example.c
  src/npc/examples/dialogue_example_2020.c
  src/npc/examples/npc_example.c
  src/npc/sandbox/convotest.c
  src/npc/src/dialogue.c
  src/npc/src/npc.c
  src/npc/src/npc_battle.c
  src/npc/src/npc_move.c
  src/npc/src/rooms-npc.c
  tests/npc/test_npc_move.c
Labels: bug, x/npc

#1337 Quests/player module update
  include/game-state/player.h
  src/game-state/src/player.c
  tests/game-state/test_player.c
Labels: x/quests

#1316 added gencontext and levelspec structs to game struct
  include/game-state/game.h
Labels: x/rpg-openworld

#1333 Playerclass/refactor multiclassing
  include/playerclass/class.h
  include/playerclass/multiclass.h
  src/playerclass/CMakeLists.txt
  src/playerclass/src/class.c
  src/playerclass/src/multiclass.c
Labels: x/rpg-playerclass

#1363 Quest/delete quest
  include/quests/quests_state.h
  src/quests/src/quests_state.c
  tests/quests/test_quests_state.c
Labels: x/quests

#1384 Created new functions to create and free specgraphs and created tests for those functions
  include/game-state/room.h
  include/openworld/autogenerate.h
  include/openworld/gen_structs.h
  src/openworld/CMakeLists.txt
  src/openworld/examples/CMakeLists.txt
  src/openworld/examples/openworld-demo-2021.c
  src/openworld/src/autogenerate.c
  src/openworld/src/gen_structs.c
  tests/openworld/test_autogenerate.c
  tests/openworld/test_structs.c
Labels: x/rpg-openworld

#1286 Fixing circular dependencies between NPC, action, and game-state files
  docs/npc.md
  include/battle/battle_flow.h
  include/common/ctx.h
  include/game-state/game.h
  include/game-state/room.h
  include/npc/dialogue.h
  include/npc/npc.h
  include/npc/npc_battle.h
  include/npc/npc_move.h
  include/npc/rooms_npc.h
  include/playerclass/class.h
  include/wdl/load_npc.h
  src/game-state/src/game.c
  src/game-state/src/room.c
  src/npc/CMakeLists.txt
  src/npc/examples/battle_move_example_2021.c
  src/npc/src/dialogue.c
  src/npc/src/npc.c
  src/npc/src/npc_battle.c
  src/npc/src/npc_move.c
  src/npc/src/rooms-npc.c
  src/npc/src/rooms_npc.c
  tests/npc/test_dialogue.c
  tests/npc/test_npc.c
  tests/npc/test_npc_battle.c
  tests/npc/test_npc_move.c
  tests/npc/test_rooms_npc.c
Labels: enhancement, x/npc

#1394 1375 editing item_t struct
  include/game-state/item.h
Labels: x/action-management, x/graphics x/gui

#1380 Quests/implement prerequisite redesign
  include/quests/quests_state.h
  include/quests/quests_structs.h
  src/quests/src/quests_state.c
  tests/quests/test_quests_state.c
Labels: x/quests

#1389 Action management/1290 make view stats actions
  include/action_management/action_structs.h
  include/action_management/actionmanagement.h
  src/action_management/src/actionmanagement.c
  src/action_management/src/get_actions.c
  tests/action_management/test_get_actions.c
Labels: x/action-management

#1403 action-management/fixed issue #1072 - updated custom-actions tests to use attribute-specific creator functions
  src/custom-actions/include/custom-actions-common.h
  src/custom-actions/src/custom-actions-cond.c
  tests/custom-actions/test_ca_cond.c
  tests/custom-actions/test_ca_effect.c
Labels: bug, x/action-management

#1379 Created a Sample Game with Chiventure Structs
  src/sound/examples/sound_example.c
Labels: x/sound

#1451 Custom actions/1291 teleportation as a custom action redo
  src/custom-actions/include/action_block.h
  src/custom-actions/include/custom-actions-effect.h
  src/custom-actions/src/action_block.c
  src/custom-actions/src/custom-actions-effect.c
  tests/custom-actions/test_action_block.c
  tests/custom-actions/test_ast_block.c
  tests/custom-actions/test_branch_block.c
Labels: x/custom-actions

#1381 We have implemented a new move_t struct to accomodate multiple types of moves
  include/battle/battle_ai.h
  include/battle/battle_flow.h
  include/battle/battle_moves.h
  include/battle/battle_print.h
  include/battle/battle_structs.h
  src/battle/src/battle_ai.c
  src/battle/src/battle_default_objects.c
  src/battle/src/battle_flow.c
  src/battle/src/battle_move_maker.c
  src/battle/src/battle_moves.c
  src/battle/src/battle_print.c
  src/npc/examples/battle_move_example_2021.c
  tests/battle/test_battle_ai.c
  tests/battle/test_battle_default_objects.c
  tests/battle/test_battle_flow.c
  tests/battle/test_battle_move_maker.c
  tests/battle/test_battle_moves.c
  tests/battle/test_battle_print.c
  tests/npc/test_npc.c
  tests/npc/test_npc_battle.c
  tests/skilltrees/effect_test.c
Labels: x/rpg-battle

#1378 Cli/ associate words in quotes into a single item (token)
  src/cli/src/parser.c
  tests/cli/test_parser.c
Labels: x/cli, x/cli++

#1441 Used dynamic allocation on edges in specgraph to fix warnings associated with specgraph function from pull request
  include/openworld/gen_structs.h
  src/openworld/src/gen_structs.c
  tests/openworld/test_structs.c
Labels: bug, x/rpg-openworld

#1427 Openworld/specgraph (test_autogenerate.c) tests for generation
  tests/openworld/test_autogenerate.c
Labels: x/rpg-openworld

#1431 Openworld/lookup and from hash tests
  include/openworld/autogenerate.h
  src/openworld/src/autogenerate.c
  tests/openworld/test_autogenerate.c
Labels: x/rpg-openworld

#1393 Open world/add coords to room struct
  include/game-state/room.h
  src/game-state/src/room.c
Labels: x/rpg-openworld

#1438 Quests/implement mission redesign
  include/quests/quests_state.h
  include/quests/quests_structs.h
  src/quests/src/quests_state.c
  tests/quests/test_quests_state.c
Labels: x/quests

#1399 Openworld/add tag to room
  include/game-state/room.h
  src/game-state/src/room.c
  tests/game-state/test_rooms.c
Labels: x/rpg-openworld

#1477 Quests/Add_Tree_Management
  include/quests/quests_state.h
  src/quests/src/quests_state.c
  tests/quests/test_quests_state.c
Labels: x/quests

#1480 Quests/add room and item task checks
  include/game-state/game.h
  include/game-state/player.h
  include/quests/quests_state.h
  include/quests/quests_structs.h
  src/action_management/examples/spring2021-demo.c
  src/cli/src/operations.c
  src/game-state/src/game.c
  src/game-state/src/player.c
  src/quests/src/quests_state.c
  tests/action_management/test_item_item_actions.c
  tests/game-state/test_items.c
  tests/game-state/test_player.c
  tests/npc/test_dialogue.c
  tests/quests/test_quests_state.c
Labels: x/quests

#1408 Playerclass/Add skill trees to prefabricated player classes and create testing for them
  src/playerclass/src/class_prefabs.c
  tests/playerclass/test_class_prefabs.c
Labels: x/rpg-playerclass

#1422 Battle/Implement run_turn_component
  include/battle/battle_flow.h
  include/battle/battle_flow_structs.h
  include/battle/battle_logic.h
  include/battle/battle_print.h
  include/battle/battle_structs.h
  src/battle/src/battle_flow.c
  src/battle/src/battle_flow_structs.c
  src/battle/src/battle_logic.c
  src/battle/src/battle_print.c
  tests/battle/test_battle_print.c
Labels: x/rpg-battle

#1478 Created a new battle_item_t fields and a new battle_equipment_t data structure in battles
  include/battle/battle_common.h
  include/battle/battle_default_objects.h
  include/battle/battle_flow.h
  include/battle/battle_flow_structs.h
  include/battle/battle_logic.h
  include/battle/battle_print.h
  include/battle/battle_state.h
  include/battle/battle_structs.h
  include/npc/npc.h
  include/npc/npc_battle.h
  src/battle/examples/battle_cli_example.c
  src/battle/src/battle_default_objects.c
  src/battle/src/battle_flow.c
  src/battle/src/battle_flow_structs.c
  src/battle/src/battle_logic.c
  src/battle/src/battle_print.c
  src/battle/src/battle_state.c
  src/npc/examples/battle_move_example_2021.c
  src/npc/src/npc.c
  src/npc/src/npc_battle.c
  tests/battle/test_battle_ai.c
  tests/battle/test_battle_default_objects.c
  tests/battle/test_battle_flow.c
  tests/battle/test_battle_flow_structs.c
  tests/battle/test_battle_logic.c
  tests/battle/test_battle_move_maker.c
  tests/battle/test_battle_print.c
  tests/battle/test_battle_state.c
  tests/npc/test_npc.c
  tests/npc/test_npc_battle.c
Labels: x/rpg-battle

#1382 Implement combined and sequential skills
  include/skilltrees/complex_skills.h
  include/skilltrees/skill.h
  include/skilltrees/skilltrees_common.h
  include/skilltrees/skilltrees_enums.h
  src/playerclass/src/class_prefabs.c
  src/skilltrees/CMakeLists.txt
  src/skilltrees/src/complex_skills.c
  src/skilltrees/src/skill.c
  tests/game-state/test_player.c
  tests/skilltrees/CMakeLists.txt
  tests/skilltrees/complex_skill_test.c
  tests/skilltrees/inventory_test.c
  tests/skilltrees/skill_test.c
  tests/skilltrees/skilltree_test.c
Labels: x/rpg-skilltrees

#1407 Sound/background music
  src/sound/sandbox/README
  src/sound/sandbox/file_example_WAV_1MG.wav
  src/sound/sandbox/main
  src/sound/sandbox/main.c
  src/sound/sandbox/wav_example.wav
  src/sound/src/sound.c
Labels: x/sound

#1492 Implemented mechanism to specify inventory conditions in a WDL file
  src/wdl/src/load_item.c
  tests/wdl/examples/wdl/inventory-cond.wdl
Labels: x/wdl, x/action-management

#1498 Quests/add ctx
  include/game-state/player.h
  include/quests/quests_state.h
  include/quests/quests_structs.h
  src/game-state/src/game.c
  src/game-state/src/player.c
  src/quests/src/quests_state.c
  tests/quests/test_quests_state.c
Labels: x/quests

#1400 Remove health and surrender_level from npc_battle_t and replace will_fight with hostility_t in npc_t
  include/npc/npc.h
  include/npc/npc_battle.h
  src/battle/examples/battle_cli_example.c
  src/battle/examples/battle_command_example.c
  src/battle/examples/battle_flow_example.c
  src/battle/src/battle_flow.c
  src/cli/src/operations.c
  src/game-state/src/room.c
  src/npc/examples/battle_move_example_2021.c
  src/npc/src/npc.c
  src/npc/src/npc_battle.c
  src/openworld/src/gen_structs.c
  src/playerclass/src/class_prefabs.c
  src/quests/src/quests_state.c
  tests/battle/test_battle_flow.c
  tests/battle/test_battle_logic.c
  tests/battle/test_battle_print.c
  tests/game-state/test_rooms.c
  tests/npc/test_npc.c
  tests/npc/test_npc_battle.c
  tests/playerclass/test_class_prefabs.c
Labels: x/npc

#1523 Quests/add status enum
  include/game-state/player.h
  include/quests/quests_state.h
  src/game-state/src/player.c
  src/quests/src/quests_state.c
  tests/quests/test_quests_state.c
Labels: x/quests

#1388 1335 rpg skilltrees implement conditionals based on design doc
  include/skilltrees/complex_skills.h
  include/skilltrees/skilltrees_common.h
  include/skilltrees/skilltrees_enums.h
  src/skilltrees/CMakeLists.txt
  src/skilltrees/src/complex_skills.c
  src/skilltrees/src/skill.c
  tests/skilltrees/CMakeLists.txt
  tests/skilltrees/complex_skill_test.c
  tests/skilltrees/inventory_test.c
  tests/skilltrees/skill_test.c
  tests/skilltrees/skilltree_test.c
Labels: x/rpg-skilltrees

#1404 Cli/battle integration
  include/cli/operations.h
  src/cli/src/cmd.c
  src/cli/src/operations.c
Labels: x/cli, x/cli++

#1447 CLI side of implementing `view stats`
  include/action_management/action_structs.h
  include/action_management/actionmanagement.h
  include/cli/operations.h
  src/action_management/src/actionmanagement.c
  src/cli/src/cmd.c
  src/cli/src/operations.c
  src/cli/src/shell.c
  tests/cli/CMakeLists.txt
  tests/cli/test_operation.c
Labels: x/cli, x/cli++

#1507 Implementing surrender level for battles in the battles module to support NPC module changes
  include/battle/battle_common.h
  include/battle/battle_structs.h
  src/battle/src/battle_default_objects.c
  src/battle/src/battle_flow.c
  src/battle/src/battle_logic.c
  src/battle/src/battle_print.c
  src/npc/examples/battle_move_example_2021.c
  tests/battle/test_battle_flow.c
  tests/battle/test_battle_print.c
Labels: x/rpg-battle

#1494 Scene Graphics pullrequest part1
  graphics_sandbox/.gitignore
  graphics_sandbox/scene_graphics/.gitignore
  graphics_sandbox/scene_graphics/Makefile
  graphics_sandbox/scene_graphics/scene_graphics.c
  graphics_sandbox/scene_graphics/scene_graphics.h
  graphics_sandbox/scene_graphics/test_scene_graphics.c
Labels: x/graphics, x/gui, x/graphics x/gui

#1549 Quest graphics struct new/init/free and tests
  .gitignore
  graphics_sandbox/quest_graphics/Makefile
  graphics_sandbox/quest_graphics/quest_graphics.c
  graphics_sandbox/quest_graphics/quest_graphics.h
  graphics_sandbox/quest_graphics/test_quest_graphics.c
Labels: x/graphics, x/gui, x/graphics x/gui

#1537 GUI: structs, new/init/free, tests for map module
  graphics_sandbox/map_graphics/Makefile
  graphics_sandbox/map_graphics/map_graphics.c
  graphics_sandbox/map_graphics/map_graphics.h
  graphics_sandbox/map_graphics/test_map_graphics.c
Labels: x/graphics, x/gui, x/graphics x/gui

#1583 sound: fixing sound module warnings pull request
  include/sound/sound.h
  src/sound/src/sound.c
Labels: x/sound

#1522 Update class_prefabs.c with functions to create prefabricated skilltrees
  src/playerclass/src/class_prefabs.c
  tests/playerclass/test_class_prefabs.c
Labels: x/rpg-skilltrees

#1527 Quest/refactor
  include/game-state/game.h
  include/quests/prereq.h
  include/quests/quest.h
  include/quests/quests_hash.h
  include/quests/quests_state.h
  include/quests/quests_structs.h
  include/quests/samples.h
  include/quests/task.h
  src/quests/CMakeLists.txt
  src/quests/src/prereq.c
  src/quests/src/quest.c
  src/quests/src/quests_hash.c
  src/quests/src/quests_state.c
  src/quests/src/samples.c
  src/quests/src/task.c
  tests/quests/CMakeLists.txt
  tests/quests/test_prereq.c
  tests/quests/test_quest.c
  tests/quests/test_quests_hash.c
  tests/quests/test_quests_state.c
  tests/quests/test_task.c
Labels: x/quests

#1541 pullrequesting input_box_graphics
  graphics_sandbox/input_box_graphics/.gitignore
  graphics_sandbox/input_box_graphics/Makefile
  graphics_sandbox/input_box_graphics/input_box_graphics.c
  graphics_sandbox/input_box_graphics/input_box_graphics.h
  graphics_sandbox/input_box_graphics/main.c
  graphics_sandbox/input_box_graphics/test_input_box_graphics.c
Labels: x/graphics, x/gui, x/graphics x/gui

#1531 Quest/refactor+free
  include/quests/task.h
  src/quests/src/prereq.c
  src/quests/src/quest.c
  src/quests/src/quests_hash.c
  src/quests/src/quests_state.c
  src/quests/src/task.c
  tests/quests/test_quests_state.c
  tests/quests/test_task.c
Labels: x/quests

#1502 Dsl/player class grammar
  src/dsl/examples/dsl/player-class-grammar-ex.dsl
  src/dsl/grammars/dsl_grammar.lark
Labels: x/dsl

#1504 Dsl/dsl-parser module refactor
  src/dsl/src/dsl_parser.py
  src/dsl/src/dsl_parser/dsl_to_dict.py
  src/dsl/src/dsl_parser/simple_modifiers.py
  src/dsl/src/dsl_parser/transformers.py
  src/dsl/src/parse.py
Labels: x/dsl

#1456 Dsl/to-wdl-refactor: new to_wdl subdirectory
  src/dsl/.gitignore
  src/dsl/examples/wdl/short_example.wdl
  src/dsl/src/parse.py
  src/dsl/src/to_wdl.py
  src/dsl/src/to_wdl/__init__.py
  src/dsl/src/to_wdl/dict_to_json.py
  src/dsl/src/to_wdl/util.py
  src/dsl/src/to_wdl/wdl_game.py
  src/dsl/src/to_wdl/wdl_item.py
  src/dsl/src/to_wdl/wdl_room.py
Labels: x/dsl

#1591 sound: created a demo with dialogue prior to integrating text to speech
  src/sound/examples/tts_dialogue_example.c
  src/sound/sandbox/README
Labels: x/sound

#1458 Incorporated speed into Npc indefinite movement in auto_gen_movement() in npc_move.c in NPC
  include/game-state/room.h
  include/npc/npc_move.h
  src/game-state/src/room.c
  src/npc/src/npc_move.c
  tests/npc/test_npc_move.c
Labels: x/npc, x/rpg-playerclass

#1609 Action management/1290 make view stats actions
  include/action_management/actionmanagement.h
  src/action_management/src/actionmanagement.c
  src/cli/src/operations.c
Labels: x/action-management

#1571 Battle crit change
  include/battle/battle_flow.h
  include/battle/battle_print.h
  src/battle/src/battle_ai.c
  src/battle/src/battle_flow.c
  src/battle/src/battle_logic.c
  src/battle/src/battle_print.c
  tests/battle/test_battle_ai.c
Labels: x/rpg-battle

#1483 Refactoring NPC movement by getting rid of separate definite movement and indefinite movement structs
  include/game-state/game_state_common.h
  include/game-state/room.h
  include/npc/npc_move.h
  include/npc/rooms_npc.h
  src/game-state/src/room.c
  src/npc/examples/battle_move_example_2021.c
  src/npc/src/npc_battle.c
  src/npc/src/npc_move.c
  src/quests/examples/quest-example.c
  tests/npc/test_npc.c
  tests/npc/test_npc_battle.c
  tests/npc/test_npc_move.c
  tests/npc/test_rooms_npc.c
Labels: x/npc

#1584 Creating a battle_test_utility.h/.c file that contains functions used in battle and NPC test files
  include/battle/battle_test_utility.h
  src/battle/CMakeLists.txt
  src/battle/src/battle_test_utility.c
  src/game-state/src/mode.c
  tests/battle/test_battle_ai.c
  tests/battle/test_battle_default_objects.c
  tests/battle/test_battle_flow.c
  tests/battle/test_battle_flow_structs.c
  tests/battle/test_battle_logic.c
  tests/battle/test_battle_move_maker.c
  tests/battle/test_battle_moves.c
  tests/battle/test_battle_print.c
  tests/battle/test_battle_state.c
  tests/npc/test_dialogue.c
  tests/npc/test_npc.c
  tests/npc/test_npc_battle.c
Labels: x/rpg-battle

#1539 Cli/levenshtein suggestions
  include/cli/operations.h
  src/cli/src/operations.c
  src/ui/src/print_functions.c
  tests/cli/test_cmd.c
  tests/cli/test_game.c
Labels: x/cli, x/cli++

#1410 dsl/npc-support: Lark Grammar Definitions for NPC
  src/dsl/examples/dsl/npc.dsl
  src/dsl/examples/wdl/npc.wdl
  src/dsl/grammars/dsl_grammar.lark
  src/dsl/src/dsl_parser/dsl_to_dict.py
  src/dsl/src/dsl_parser/transformers.py
  src/dsl/src/to_wdl/dict_to_json.py
Labels: x/dsl

#1616 Scenes_Graphics: "Draw_Scenes_Graphics " Pull Request
  graphics_sandbox/scene_graphics/Makefile
  graphics_sandbox/scene_graphics/main.c
  graphics_sandbox/scene_graphics/nsfw.png
  graphics_sandbox/scene_graphics/scene_graphics.h
Labels: x/graphics, x/graphics x/gui

#1570 Quests/npc
  include/quests/quests_state.h
  src/quests/src/quests_state.c
  tests/quests/test_quests_state.c
Labels: x/quests

#1575 Skilltrees/integrate skilltrees into view action
  include/skilltrees/skilltree.h
  src/skilltrees/src/skilltree.c
  tests/skilltrees/skilltree_test.c
Labels: x/rpg-skilltrees

#1580 Action management/do self action errors
  src/action_management/src/actionmanagement.c
Labels: x/action-management

#1607 Fixing ut hash handle Mistake regarding NPCs in Rooms
  include/npc/npc.h
  src/cli/src/operations.c
  src/game-state/src/room.c
  src/npc/src/npc.c
  src/npc/src/rooms_npc.c
Labels: x/npc

#1605 Custom scripts/sandbox
  src/custom-scripts/examples/CMakeLists.txt
  src/custom-scripts/examples/demo.wdl
  src/custom-scripts/examples/demonstration.c
  src/custom-scripts/examples/loadwdl.c
Labels: x/custom-scripts

#1536 Adding an agent struct to accommodate for the upcoming npc/action implementation
  include/action_management/action_structs.h
  include/game-state/condition.h
  include/game-state/game.h
  include/game-state/game_action.h
  include/game-state/item.h
  include/game-state/player.h
  include/npc/npc.h
  include/wdl/load_item.h
  src/action_management/src/actionmanagement.c
  src/cli/examples/extra-command.c
  src/common/src/sample_game.c
  src/game-state/examples/stats_example.c
  src/game-state/src/condition.c
  src/game-state/src/game.c
  src/game-state/src/game_action.c
  src/wdl/src/load_item.c
  tests/action_management/test_item_actions.c
  tests/action_management/test_item_item_actions.c
  tests/game-state/test_condition.c
  tests/game-state/test_game.c
  tests/wdl/test_item.c
Labels: enhancement, x/action-management, x/npc

#1619 Battle/battle mode update
  include/battle/battle_common.h
  include/battle/battle_flow.h
  include/battle/battle_flow_structs.h
  include/battle/battle_logic.h
  src/battle/src/battle_flow.c
  src/battle/src/battle_flow_structs.c
  src/battle/src/battle_logic.c
  src/cli/src/operations.c
  src/game-state/src/mode.c
Labels: x/rpg-battle

#1603 modify skill node struct to include class prerequisites
  include/skilltrees/skilltree.h
  src/playerclass/src/class_prefabs.c
  src/skilltrees/src/skilltree.c
  tests/skilltrees/skilltree_test.c
Labels: x/rpg-skilltrees, x/rpg-playerclass

#1617 Map_Graphics Pt. 2 "Draw_Map_Graphics" Pullrequest
  graphics_sandbox/map_graphics/Makefile
  graphics_sandbox/map_graphics/main.c
  graphics_sandbox/map_graphics/map_graphics.h
Labels: x/graphics, x/graphics x/gui

#1401 Prefab a default NPC Class
  src/playerclass/src/class_prefabs.c
  tests/playerclass/test_class_prefabs.c
Labels: x/rpg-playerclass

#1534 Cli/conditional mult cmds
  include/cli/cmd.h
  include/cli/parser.h
  include/ui/print_functions.h
  src/cli/src/cmd.c
  src/cli/src/parser.c
  src/ui/src/print_functions.c
  tests/cli/test_game.c
  tests/cli/test_parser.c
Labels: x/cli, x/cli++

#1632 rpg-skilltrees: design and implement example file(s) for complex skills
  include/skilltrees/skill-example.h
  include/skilltrees/skill.h
  src/skilltrees/examples/skill-example.c
  src/skilltrees/examples/skilltrees_demo.c
Labels: x/rpg-skilltrees

#1594 1490 - Add NPC-specifc prefabs into class_prefab.c inside Playerclass
  include/playerclass/class_prefabs.h
  src/playerclass/src/class_prefabs.c
  tests/playerclass/test_class.c
  tests/playerclass/test_class_prefabs.c
  tests/wdl/test_class.c
Labels: x/npc, x/rpg-playerclass

#1635 RPG-Openworld: Added tests for edges init, free, and new functions.
  tests/openworld/test_structs.c
Labels: x/rpg-openworld

#1666 Quests/cli
  include/game-state/game_state_common.h
  include/game-state/player.h
  include/quests/quests_cli.h
  include/quests/quests_hash.h
  include/quests/quests_state.h
  src/quests/CMakeLists.txt
  src/quests/src/quest.c
  src/quests/src/quests_cli.c
  src/quests/src/quests_state.c
  tests/quests/test_quests_hash.c
  tests/quests/test_quests_state.c
Labels: x/quests

#1248 Writing New Test Cases for Refactored Code
  include/custom-scripts/arg_custom_type.h
  include/custom-scripts/custom_type.h
  include/custom-scripts/get_custom_type.h
  include/custom-scripts/lua_custom_type.h
  include/custom-scripts/obj_custom_type.h
  src/custom-scripts/CMakeLists.txt
  src/custom-scripts/examples/demonstration.c
  src/custom-scripts/src/arg_custom_type.c
  src/custom-scripts/src/custom_type.c
  src/custom-scripts/src/get_custom_type.c
  src/custom-scripts/src/lua_custom_type.c
  src/custom-scripts/src/obj_custom_type.c
  tests/custom-scripts/arg_custom_type.h
  tests/custom-scripts/get_custom_type.h
  tests/custom-scripts/lua_custom_type.h
  tests/custom-scripts/obj_custom_type.h
  tests/custom-scripts/test_types.c
Labels: x/custom-scripts

#1639 sound: add functionality for pausing/stopping sound pull request
  include/sound/sound.h
  src/sound/src/sound.c
Labels: x/sound

#1631 updated call to `do_self_action` in `kind4_action_operation`
  src/cli/src/operations.c
Labels: x/cli

#1633 Implement testing for Multiclass_longdesc and Multiclass_shortdesc
  include/playerclass/multiclass.h
  src/playerclass/src/class_prefabs.c
  src/playerclass/src/multiclass.c
  tests/playerclass/CMakeLists.txt
  tests/playerclass/test_class_prefabs.c
  tests/playerclass/test_multiclass.c
Labels: x/rpg-playerclass

#1663 ready to pull quest_graphics part 2
  graphics_sandbox/quest_graphics/Makefile
  graphics_sandbox/quest_graphics/main.c
  graphics_sandbox/quest_graphics/quest_graphics.c
  graphics_sandbox/quest_graphics/quest_graphics.h
Labels: x/graphics, x/gui, x/graphics x/gui

#1684 Openworld/tag to roomspec
  include/openworld/default_rooms.h
  include/openworld/gen_structs.h
  src/openworld/src/autogenerate.c
  src/openworld/src/default_rooms.c
  src/openworld/src/gen_structs.c
  tests/openworld/test_autogenerate.c
  tests/openworld/test_structs.c
Labels: x/rpg-openworld

#1582 Making sure header files are properly defined and terminated
  include/action_management/action_structs.h
  include/action_management/actionmanagement.h
  include/battle/battle_ai.h
  include/battle/battle_common.h
  include/battle/battle_default_objects.h
  include/battle/battle_flow.h
  include/battle/battle_flow_structs.h
  include/battle/battle_logic.h
  include/battle/battle_move_maker.h
  include/battle/battle_moves.h
  include/battle/battle_print.h
  include/battle/battle_state.h
  include/battle/battle_structs.h
  include/checkpointing/load.h
  include/checkpointing/log_save.h
  include/checkpointing/save.h
  include/cli/cli_ctx.h
  include/cli/cmdlist.h
  include/cli/operations.h
  include/cli/util.h
  include/common/common.h
  include/common/ctx.h
  include/common/uthash.h
  include/game-state/condition.h
  include/game-state/game.h
  include/game-state/game_action.h
  include/game-state/game_state_common.h
  include/game-state/item.h
  include/game-state/mode.h
  include/game-state/path.h
  include/game-state/player.h
  include/game-state/room.h
  include/game-state/stats.h
  include/npc/dialogue.h
  include/npc/npc.h
  include/npc/npc_battle.h
  include/npc/npc_move.h
  include/npc/rooms_npc.h
  include/openworld/autogenerate.h
  include/openworld/gen_structs.h
  include/playerclass/class_item.h
  include/playerclass/multiclass.h
  include/skilltrees/complex_skills.h
  include/skilltrees/effect.h
  include/skilltrees/reader.h
  include/skilltrees/skilltrees_enums.h
  include/sound/sound.h
  include/ui/gui.h
  include/ui/map.h
  include/ui/print_functions.h
  include/ui/ui.h
  include/ui/ui_ctx.h
  include/ui/window.h
  include/wdl/load_condition.h
  include/wdl/load_game.h
  include/wdl/load_npc.h
  include/wdl/load_room.h
  include/wdl/wdl_common.h
Labels: x/npc

#1641 Skilltrees/design and implement random skills
  include/skilltrees/complex_skills.h
  include/skilltrees/skilltrees_common.h
  include/skilltrees/skilltrees_enums.h
  src/skilltrees/src/complex_skills.c
  tests/skilltrees/complex_skill_test.c
Labels: x/rpg-skilltrees

#1613 Cli/strengthen unit tests
  include/cli/operations.h
  tests/cli/test_game.c
  tests/cli/test_parser.c
Labels: x/cli, x/cli++

#1559 sound: added sound into game example demo (for issue #1320)
  src/sound/examples/sound_example.c
Labels: x/sound

#1576 WDL- Adding Tests for Inventory Conditions
  tests/wdl/CMakeLists.txt
  tests/wdl/test_asset.c
  tests/wdl/test_class.c
  tests/wdl/test_conditions.c
  tests/wdl/test_game.c
  tests/wdl/test_item.c
  tests/wdl/test_quests.c
  tests/wdl/test_room.c
  tests/wdl/test_validation.c
  tests/wdl/test_wdl.c
  tests/wdl/test_wdl.h
Labels: x/wdl, x/action-management

#1623 Added sound_new and sound_init functions
  include/sound/sound.h
  src/sound/src/sound.c
Labels: x/sound

#1626 Adding and Updating Functions dealing with Items in Rooms and held by NPCs so that Duplicate Items Cannot Exist within a Singular Hash Table
  include/npc/npc.h
  src/game-state/src/game.c
  src/game-state/src/item.c
  src/game-state/src/room.c
  src/npc/src/npc.c
  src/npc/src/npc_battle.c
  src/npc/src/rooms_npc.c
  src/openworld/src/default_rooms.c
  tests/game-state/test_items.c
  tests/game-state/test_player.c
  tests/game-state/test_rooms.c
  tests/npc/test_dialogue.c
  tests/npc/test_npc.c
Labels: x/npc

#1634 Graphics GDL module PR #1
  graphics_sandbox/gdl/Makefile
  graphics_sandbox/gdl/read_gdl.c
  graphics_sandbox/gdl/read_gdl.h
  graphics_sandbox/gdl/test_camera.c
  graphics_sandbox/gdl/test_dimensions.c
Labels: x/gui, x/graphics x/gui

#1696 Graphics Inventory #1 Pull Request
  graphics_sandbox/inventory_graphics/inventory_graphics.c
  graphics_sandbox/inventory_graphics/inventory_graphics.h
Labels: x/gui, x/graphics x/gui

#1699 Graphics Inventory #2 Pull Request
  graphics_sandbox/inventory_graphics/inventory_graphics.c
Labels: x/gui, x/graphics x/gui

#1676 Skilltrees 2022 demo
  src/skilltrees/examples/2022-Demo-Script.md
  src/skilltrees/examples/CMakeLists.txt
  src/skilltrees/examples/skilltrees_demo_2022.c
Labels: x/rpg-skilltrees

#1621 Dsl/graph-validate: Implemented algorithm to Validate Graphs
  src/dsl/src/graphcode/example_graphs.py
  src/dsl/src/graphcode/graph_tests.py
  src/dsl/src/graphcode/graph_validator.py
Labels: x/dsl

#1691 Updated README.md in DSL with new information
  src/dsl/README.md
  src/dsl/grammars/dsl_grammar.lark
  src/dsl/src/dsl_parser/dsl_to_dict.py
Labels: x/dsl

#1710 Fix extraneous print statement in `test_operations.c`
  tests/cli/test_operation.c
Labels: x/cli

#1660 1597 create tests for npc specific prefabs inside class prefabc
  src/playerclass/src/class_prefabs.c
  tests/playerclass/test_class_prefabs.c
  tests/wdl/test_class.c
Labels: x/rpg-playerclass

#1611 Update Legacy Demonstration with Refactored Code
  src/custom-scripts/examples/CMakeLists.txt
  src/custom-scripts/examples/demonstration.c
  src/custom-scripts/examples/dynamic_string.lua
  src/custom-scripts/examples/loadwdl.c
  src/custom-scripts/sandbox/gold.c
  src/custom-scripts/sandbox/gold.h
  src/custom-scripts/sandbox/sample.lua
Labels: x/custom-scripts

#1695 Quests/wdl file branch
  include/npc/npc.h
  include/quests/quests_hash.h
  src/game-state/src/player.c
  src/quests/examples/quest_game/actions.json
  src/quests/examples/quest_game/items.json
  src/quests/examples/quest_game/npcs.json
  src/quests/examples/quest_game/player.json
  src/quests/examples/quest_game/rooms.json
  src/quests/examples/quest_game/steve.wdl
  src/quests/src/quests_cli.c
  src/quests/src/quests_hash.c
  src/quests/src/quests_state.c
  src/quests/src/task.c
  tests/game-state/test_player.c
  tests/playerclass/test_class_prefabs.c
  tests/quests/test_quests_hash.c
  tests/quests/test_quests_state.c
  tests/wdl/examples/wdl/quests_sample.wdl
  tests/wdl/test_quests.c
Labels: x/quests

#1688 Graphics GDL Pull Request #2
  graphics_sandbox/gdl/Makefile
  graphics_sandbox/gdl/test_camera.c
  graphics_sandbox/gdl/test_dimensions.c
  graphics_sandbox/gdl/test_graphics.c
  graphics_sandbox/gdl/test_inventory.c
  graphics_sandbox/gdl/test_stats.c
Labels: x/gui, x/graphics x/gui

#1706 Graphics Inventory #3 Pull Request
  graphics_sandbox/inventory_graphics/test_inventory_graphics.c
Labels: x/gui, x/graphics x/gui

#1662 1625/am view skills
  src/action_management/src/actionmanagement.c
Labels: x/action-management

#1548 Implementing convert_hostility function and tone_t struct
  include/npc/dialogue.h
  include/npc/npc.h
  src/npc/examples/battle_move_example_2021.c
  src/npc/examples/conversation_mode_example.c
  src/npc/examples/dialogue_example.c
  src/npc/examples/dialogue_example_2020.c
  src/npc/examples/npc_example.c
  src/npc/src/dialogue.c
  src/npc/src/npc.c
  src/wdl/src/load_npc.c
  tests/npc/test_dialogue.c
  tests/npc/test_npc.c
Labels: x/npc

#1689 Graphics GDL Pull Request #3
  graphics_sandbox/gdl/read_gdl.c
Labels: x/gui, x/graphics x/gui

#1653 Dsl/npc implementation (no dialogue)
  src/dsl/README.md
  src/dsl/examples/dsl/npc-no-dialogue.dsl
  src/dsl/examples/dsl/player-class-grammar-ex.dsl
  src/dsl/examples/wdl/npc-no-dialogue.wdl
  src/dsl/examples/wdl/npc-with-dialogue.wdl
  src/dsl/grammars/dsl_grammar.lark
  src/dsl/src/dsl_parser/dsl_to_dict.py
  src/dsl/src/dsl_parser/transformers.py
  src/dsl/src/to_wdl/dict_to_json.py
  src/dsl/src/to_wdl/wdl_npc.py
Labels: x/dsl

#1705 create small bison demo
  src/cli/CMakeLists.txt
  src/cli/examples/bison-demo/Makefile
  src/cli/examples/bison-demo/README.md
  src/cli/examples/bison-demo/bison-demo.c
  src/cli/examples/bison-demo/bison-demo.h
  src/cli/examples/bison-demo/bison-demo.l
  src/cli/examples/bison-demo/bison-demo.y
  src/cli/examples/bison-demo/script.md
  src/cli/src/cmd.c
  tests/cli/test_parser.c
Labels: x/cli, x/cli++

#1713 Openworld/demo final
  src/openworld/CMakeLists.txt
  src/openworld/examples/CMakeLists.txt
  src/openworld/examples/openworld-demo-2022.c
Labels: x/rpg-openworld

#1649 Action management/1624 implement a new action view inventory
  include/game-state/player.h
  src/action_management/src/actionmanagement.c
  src/game-state/src/player.c
Labels: x/action-management

#1711 Re-added fight to lookup_t table
  src/cli/src/cmd.c
Labels: bug, x/cli

#1674 Creating and updating Battles examples to showcase for Demos
  include/battle/battle_common.h
  include/battle/battle_flow_structs.h
  include/battle/battle_logic.h
  include/battle/battle_print.h
  src/battle/examples/battle_cli_example.c
  src/battle/examples/battle_command_example.c
  src/battle/examples/battle_flow_example.c
  src/battle/examples/demo_items_and_equipment.c
  src/battle/examples/move_demo.c
  src/battle/src/battle_flow.c
  src/battle/src/battle_flow_structs.c
  src/battle/src/battle_logic.c
  src/battle/src/battle_print.c
  src/cli/src/cmd.c
  src/cli/src/operations.c
  src/game-state/src/mode.c
  tests/battle/test_battle_flow.c
  tests/battle/test_battle_logic.c
  tests/battle/test_battle_print.c
Labels: x/rpg-battle

#1629 Create an Advanced Lua Demo with 3+ Args passed through Lua Script
  src/custom-scripts/examples/CMakeLists.txt
  src/custom-scripts/examples/lost_order.c
  src/custom-scripts/examples/lost_order.lua
  src/custom-scripts/examples/lost_order2.lua
  src/custom-scripts/examples/lost_order3.lua
Labels: x/custom-scripts

#1698 Playerclass: Create 2022 demo
  include/playerclass/class_prefabs.h
  include/playerclass/multiclass.h
  include/playerclass/multiclass_prefabs.h
  src/playerclass/CMakeLists.txt
  src/playerclass/examples/2022-demo.c
  src/playerclass/examples/CMakeLists.txt
  src/playerclass/src/class_prefabs.c
  src/playerclass/src/multiclass.c
  src/playerclass/src/multiclass_prefabs.c
  src/skilltrees/examples/skilltrees_demo.c
Labels: x/rpg-playerclass

#1651 Custom scripts- demonstration 2022 with torch functions and monkeypatched custom actions "fireball" and "slash"
  src/custom-scripts/examples/CMakeLists.txt
  src/custom-scripts/examples/demo.lua
  src/custom-scripts/examples/demo_2022.c
  src/custom-scripts/examples/demonstration.c
  src/custom-scripts/examples/dynamic_string.lua
Labels: x/custom-scripts

#1686 Playerclass: created function, tests for prefab items associated with classes
  include/playerclass/class_prefabs.h
  src/playerclass/src/class_prefabs.c
  tests/playerclass/test_class_prefabs.c
Labels: x/rpg-playerclass

#1664 Adding action functions for NPCs (KIND 5, KIND 6, KIND 7)
  include/action_management/action_structs.h
  include/action_management/actionmanagement.h
  include/game-state/item.h
  include/npc/npc.h
  src/action_management/src/actionmanagement.c
  src/wdl/src/load_item.c
Labels: x/npc

#1704 1593 create a demo for the action management team
  src/action_management/examples/CMakeLists.txt
  src/action_management/examples/spring2022-demo.c
  src/action_management/src/actionmanagement.c
Labels: x/action-management

#1652 Sound: Wrote tests for sound.c functions
  tests/sound/CMakeLists.txt
  tests/sound/test_sound.c
Labels: x/sound

#1669 Combine gold demo with final demo
  src/custom-scripts/examples/CMakeLists.txt
  src/custom-scripts/examples/dark_room.c
  src/custom-scripts/examples/demo.lua
  src/custom-scripts/examples/demo_2022.c
  src/custom-scripts/examples/demonstration
  src/custom-scripts/examples/demonstration.c
  src/custom-scripts/examples/gold.c
  src/custom-scripts/examples/loadwdl.c
  src/custom-scripts/examples/loadwdl2.c
  src/custom-scripts/examples/lost_order.c
  src/custom-scripts/examples/lua/demo.lua
  src/custom-scripts/examples/lua/dynamic_string.lua
  src/custom-scripts/examples/lua/flip.lua
  src/custom-scripts/examples/lua/gold.lua
  src/custom-scripts/examples/lua/lost_order.lua
  src/custom-scripts/examples/lua/lost_order2.lua
  src/custom-scripts/examples/lua/lost_order3.lua
  src/custom-scripts/examples/lua/weight.lua
  src/custom-scripts/examples/wdl/demo-warrior.wdl
  src/custom-scripts/examples/wdl/demo-wizard.wdl
Labels: x/custom-scripts

#1690 Adding together chest/gold, player class WDLs, and torch example to the demo
  src/custom-scripts/examples/demo_2022.c
  src/custom-scripts/examples/wdl/demo-warrior.wdl
  src/custom-scripts/examples/wdl/demo-wizard.wdl
Labels: x/custom-scripts

#1683 sound: created a final demo with text to speech
  include/sound/sound.h
  include/sound/tts.h
  src/sound/CMakeLists.txt
  src/sound/examples/CMakeLists.txt
  src/sound/examples/Makefile
  src/sound/examples/demo
  src/sound/examples/test-tts.c
  src/sound/examples/tts_dialogue_example.c
  src/sound/src/tts.c
  tests/sound/CMakeLists.txt
Labels: x/sound

#1692 Tests to confirm Lua functionality in demo
  src/custom-scripts/examples/dark_room.h
  src/custom-scripts/examples/demonstration.c
  tests/custom-scripts/Lua_file/arg_3_lua.lua
  tests/custom-scripts/Lua_file/bool_test_args_complex.lua
  tests/custom-scripts/Lua_file/char_test_more_args.lua
  tests/custom-scripts/Lua_file/int_test_args2.lua
  tests/custom-scripts/Lua_file/string_test_args2.lua
  tests/custom-scripts/arg_custom_type.h
  tests/custom-scripts/lua_custom_type.h
  tests/custom-scripts/obj_custom_type.h
  tests/custom-scripts/test_types.c
Labels: x/custom-scripts

#1712 cli: Parser Changes DEMO PR
  src/cli/examples/bison-demo/bison-demo.c
  tests/wdl/examples/wdl/connected-rooms.wdl
  tests/wdl/examples/wdl/parser-changes.wdl
Labels: x/cli

#1665 Integrate player class/item interactions with battle logic: implement multipliers in `apply_item_stat_changes()` in battle_logic.c
  include/battle/battle_logic.h
  include/battle/battle_structs.h
  src/battle/src/battle_flow.c
  src/battle/src/battle_logic.c
  tests/battle/test_battle_logic.c
Labels: x/rpg-battle, x/rpg-playerclass

#1682 rpg-battles/sound integration & Wiki
  include/battle/battle_flow.h
  src/battle/CMakeLists.txt
  src/battle/sounds/blade_move.wav
  src/battle/src/sound_files/blade_move.wav
  src/sound/CMakeLists.txt
Labels: x/rpg-battle, x/sound
